<div class="ingredients__wrapper">
    <div class="img_wrap_text_info {% unless item.image != blank %} blankImage_keyIngredients {% endunless %}">
        {% if item.image != blank %}
            <div class="img_wrap ingredients__image">
                <img src="{{ item.image | image_url }}" alt="{{ item.image.alt }}">
            </div>
        {% endif %}
    </div>
    <div class="ingredients__text-wrapper">
        {% if item.heading != blank %}
            <h4 class="ingredients__title">{{ item.heading }}</h4>
        {% endif %}
        {% if item.description != blank %}
            <p class="ingredients__description">{{item.description | truncatewords: 35, '...'}}</p>
        {% endif %}
        {% if item.read_more_url != blank %}
            <span>
                <a target="_blank" href="{{ item.read_more_url }}" class="ingredients__link link">
                    <span class="link__text">Learn more </span>
                </a>
            </span>
        {% endif %}
    </div>            
</div>