{%- liquid
  assign options = block.settings
  assign color_option_picker_type = options.color_option_picker_type
  assign picker_type = options.picker_type

  assign block_option_name_downcase = block.settings.option_name | downcase
  assign information_drawer_button_label = block.settings.information_drawer_button_label

  assign color_option = blank
  assign prepared_color_option_names = settings.color_swatch_option_name_variants | newline_to_br | split: '<br />'

  for option_name in prepared_color_option_names
    if product.options_by_name[option_name] != blank
      assign color_option = product.options_by_name[option_name]

      break
    endif
  endfor
-%}

{%- if product != blank and product.has_only_default_variant == false -%}
  <variant-picker
    class='product-variant-picker block-{{ block.id }} {% if block.settings.picker_type contains 'dropdown' %}product-variant-picker--with-dropdown-options{% endif %}'
    data-section='{{ sectionId }}'
    data-section-id-without-prefix='{{ section.id }}'
    data-product-id='{{ product.id }}'
    data-url='{{ product.url }}'
    id='product-variant-picker-{{ sectionId }}'
    data-type='{% if block.settings.picker_type contains 'dropdown' %}dropdown{% else %}checkbox{% endif %}'
    {% if product.selected_or_first_available_variant %}
      data-selected-variant-id='{{ product.selected_or_first_available_variant.id }}'
    {% endif %}
    {{ block.shopify_attributes }}
  >
    <div class='product-variant-picker__form'>
      {%- for option in product.options_with_values -%}
        <div data-variant-picker-option-inputs>
          {{ option.name }}

          {%- for value in option.values -%}
            <div>
              <input
                type='radio'
                id='{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'
                name='{{ option.name }}'
                value='{{ value }}'
                form='product-form-{{ product.id }}-{{ sectionId }}'
                {% if option.selected_value == value %}
                  checked
                {% endif %}
              >
              {{ value }}
            </div>
          {%- endfor -%}
        </div>
      {%- endfor -%}
    </div>
    <div class='product-variant-picker__list'>
      {%- for option in product.options_with_values -%}
        {%- assign option_name_downcase = option.name | downcase -%}

        <div data-variant-picker-option-labels>
          {%- assign color_option_downcase = color_option.name | downcase -%}

          {%- if color_option != blank and option_name_downcase == color_option_downcase -%}
            {%-
              render 'product-color-swatches',
              product: product,
              option: option,
              color_option_picker_type: color_option_picker_type,
              block: block,
              sectionId: sectionId,
            -%}
          {%- elsif block.settings.picker_type contains 'button' -%}
            <div class='product-variant-picker__option-label'>
              {{ option.name }}

              {%- assign option_name_downcase = option.name | downcase -%}

              {%- if block_option_name_downcase == option_name_downcase -%}
                <sidebar-button>
                  <button
                    data-sidebar-button
                    data-sidebar-id='product-variant-picker-popup-{{ product.id }}-{{ sectionId }}'
                    class='unstyled-button product-variant-picker__popup-toggle'
                  >
                    <span>{{ information_drawer_button_label }}</span>
                  </button>
                </sidebar-button>
              {%- endif -%}
            </div>
            <div class='product-variant-picker__pill-list'>
              {%- for value in option.values -%}
                <label
                  for='{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'
                  class='pill pill--large {% if option.selected_value == value %} selected {% endif %} {% if picker_type == 'button-outline' %}pill--outline{% endif %} {% if picker_type == 'button-solid' %}pill--solid{% endif %}'
                  {% if option.selected_value == value %}
                    tabindex='0'
                  {% endif %}
                >
                  <span class='pill__label'>{{ value }}</span>
                </label>
              {%- endfor -%}
            </div>
          {%- else -%}
            <div class='product-variant-picker__option-label'>
              {{ option.name }}

              {%- assign option_name_downcase = option.name | downcase -%}

              {%- if block_option_name_downcase == option_name_downcase -%}
                <sidebar-button>
                  <button
                    data-sidebar-button
                    data-sidebar-id='product-variant-picker-popup-{{ product.id }}-{{ sectionId }}'
                    class='unstyled-button product-variant-picker__popup-toggle'
                  >
                    <span>{{ information_drawer_button_label }}</span>
                  </button>
                </sidebar-button>
              {%- endif -%}
            </div>
            <dropdown-opener
              class='dropdown__toggle dropdown__toggle--large {% if picker_type == 'dropdown-outline' %}dropdown__toggle--outline{% endif %}'
              data-aria-expanded='false'
              data-float-element-id='variant-picker-dropdown-{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'
              data-trigger='click'
              tabindex='0'
            >
              <div class='dropdown__toggle-label' data-dropdown-variant-picker-label>
                {{ option.selected_value }}
              </div>
              {%- render 'icon', icon_name: 'chevron', class: 'dropdown__chevron' -%}
            </dropdown-opener>
            <float-element
              class='dropdown'
              aria-hidden='true'
              id='variant-picker-dropdown-{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'
              data-placement='bottom-start'
              data-main-axis-offset='{% if settings.edge_rounding_degree != 'none' %} 8{% else %} 0{% endif %}'
            >
              <template>
                <div>
                  {%- for value in option.values -%}
                    <label
                      class='dropdown__item {% if option.selected_value == value %} selected {% endif %}'
                      for='{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'
                      tabindex='0'
                      data-focus-trap-target
                    >
                      {{ value }}
                    </label>
                  {%- endfor -%}
                </div>
              </template>
            </float-element>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
    <script data-variant-picker-variants type='application/json'>
      {{ product.variants | json }}
    </script>
  </variant-picker>
{%- endif -%}
