{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign block_layout = 'one-column'
  assign img_ratio = section.settings.img_ratio
  assign enable_image_zoom = section.settings.enable_image_zoom
  assign enable_video_autoplay = section.settings.enable_video_autoplay
  assign enable_video_looping = section.settings.enable_video_looping
  assign product_media = product.media | default: (1..6)
  assign first_3d_model = product.media | where: 'media_type', 'model' | first

  assign show_part_of_next_slide = section.settings.show_part_of_next_slide
  if product_media.size == 1
    assign show_part_of_next_slide = false
  endif
-%}

{% capture product_string %}
  <div class="card-carousel__slide" recently-viewed-item>
    {% render 'product-card', 
    product: product,
    show_color_swatches_on_hover: settings.show_product_color_swatches_on_hover,
    color_swatch_variables: color_swatch_variables,
    img_ratio: settings.default_img_ratio,
    product_card_align: 'left' %}
  </div>
{% endcapture %}

<div class='quick-view' data-aria-expanded='true'>
  <div
    class='quick-view__body-wrapper color-{{ color_scheme }} set-text-color-from-variable'
    id='QuickViewProduct'
    data-product-string='{{ product_string | escape }}'
    data-product-handle='{{ product.handle }}'
  >
    <div>
      {% capture css %}
        {% style %}
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'collapsible_row' %}
                .block-{{ block.id }} {
                  --gsc-image-width: {{ block.settings.image_width }}%;
                }
              {% when 'information_tag' %}
                .block-{{ block.id }} {
                  --gsc-tag-background-color: {{ block.settings.tag_background_color }};
                  --gsc-tag-text-color: {{ block.settings.tag_text_color }};
                }

                .block-{{ block.id }}-drawer {
                  --gsc-image-width: {{ block.settings.drawer_media_size }}%;
                }
              {% when 'variant_picker' %}
                .block-{{ block.id }} {}

                .block-{{ block.id }}-drawer {
                  --gsc-image-width: {{ block.settings.image_width }}%;
                }
              {% when 'price' %}
                .block-{{ block.id }} {
                  --gsc-product-price-fz: var(--gsc-product-price-font-size-{{- block.settings.price_size -}});
                  --gsc-product-price-lh: var(--gsc-product-price-line-height-{{- block.settings.price_size -}});
                  --gsc-product-price-fw: 700;
                }
              {% when 'inventory_status' %}
                .block-{{ block.id }} {
                  --gsc-product-high-level-inventory-indicator-color: {{ block.settings.high_level_indicator_color }};
                  --gsc-product-low-level-inventory-indicator-color: {{ block.settings.low_level_indicator_color }};
                }
              {% when 'button' %}
                .block-{{ block.id }} {
                  --gsc-product-button-block-background-color: {{ block.settings.button_background_color }};
                  --gsc-product-button-block-text-color: {{ block.settings.button_text_color }};
                }
              {% when 'product_drawer_with_tabs' %}
                .block-{{ block.id }} {
                  --gsc-product-drawer-tabs-button-background-color: {{ block.settings.button_background_color }};
                  --gsc-product-drawer-tabs-button-text-color: {{ block.settings.button_text_color }};
                }

                .block-{{ block.id }}-drawer {}
            {% endcase %}
          {% endfor %}
        {% endstyle %}
      {% endcapture %}

      {% render 'inline-css-minifier', css: css %}

      {%- if first_3d_model -%}
        <link
          href='https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css'
          id='ModelViewerStyle'
          media='print'
          onload="this.media='all'"
          rel='stylesheet'
        >
        <script id='ProductJSON-{{ product.id }}' type='application/json'>
          {{ product.media | where: 'media_type', 'model' | json }}
        </script>
      {%- endif -%}
    </div>

    <div>
      {%- for block in section.blocks -%}
        {% case block.type %}
          {% when 'variant_picker' %}
            {%- liquid
              assign block_option_name_downcase = block.settings.option_name | downcase
              assign page = block.settings.page
              assign image = block.settings.image
              assign video = block.settings.video
              assign text = block.settings.text
              assign information_drawer_button_label = block.settings.information_drawer_button_label
            -%}

            {%- for option in product.options_with_values -%}
              {%- assign option_name_downcase = option.name | downcase -%}

              {%- if block_option_name_downcase == option_name_downcase -%}
                <product-information-drawer
                  id='product-variant-picker-popup-{{ product.id }}-{{ sectionId }}'
                  class='product-information-drawer block-{{ block.id }}-drawer'
                  data-with-overlay
                  data-with-close-on-outside
                  data-with-close-on-escape
                  data-overlay-important
                  data-open-direction='right'
                  tabindex='-1'
                >
                  <template>
                    <div class='product-information-drawer__body'>
                      <div class='product-information-drawer__header'>
                        <div class='product-information-drawer__header-title'>
                          {{ information_drawer_button_label }}
                        </div>
                        <sidebar-button>
                          <button
                            data-sidebar-button
                            class='unstyled-button product-information-drawer__header-close-button-wrapper close-button-with-scale-hover-wrapper'
                            data-sidebar-id='product-variant-picker-popup-{{ product.id }}-{{ sectionId }}'
                          >
                            <span
                              class='close-button-with-scale-hover product-information-drawer__close-button-with-scale-hover'
                            ></span>
                          </button>
                        </sidebar-button>
                      </div>

                      <div class='product-information-drawer__viewport' data-product-information-drawer-viewport>
                        <div class='product-information-drawer__content product-information-drawer__content--restrict-top-space'>
                          {% if text != blank %}
                            <div class='rte'>
                              {{ text }}
                            </div>
                          {% endif %}

                          {% if page != blank %}
                            <div class='rte rte--page'>
                              {{ page.content }}
                            </div>
                          {% endif %}

                          {%- if video != blank -%}
                            {% render 'video-with-alt', video: video, class: 'product-information-drawer__image' %}
                          {%- elsif image != blank -%}
                            <img
                              class='product-information-drawer__image lazyload'
                              {% render 'image-attributes', image: image %}
                            >
                          {%- endif -%}
                        </div>
                      </div>
                    </div>
                  </template>
                </product-information-drawer>
              {%- endif -%}
            {%- endfor -%}
          {% when 'product_drawer_with_tabs' %}
            {%- liquid
              assign options = block.settings
              assign btn_text = options.popup_link_text

              assign tab_1_title = options.tab_1_title
              assign tab_1_text = options.tab_1_text
              assign tab_1_page = options.tab_1_page

              assign tab_2_title = options.tab_2_title
              assign tab_2_text = options.tab_2_text
              assign tab_2_page = options.tab_2_page

              assign tab_3_title = options.tab_3_title
              assign tab_3_text = options.tab_3_text
              assign tab_3_page = options.tab_3_page

              assign first_tab_title = ''
              assign tab_count = 0

              if tab_1_title != blank
                assign first_tab_title = tab_1_title
              elsif tab_2_title != blank
                assign first_tab_title = tab_2_title
              elsif tab_3_title != blank
                assign first_tab_title = tab_3_title
              endif

              if tab_1_title != blank
                assign tab_count = tab_count | plus: 1
              endif

              if tab_2_title != blank
                assign tab_count = tab_count | plus: 1
              endif

              if tab_3_title != blank
                assign tab_count = tab_count | plus: 1
              endif
            -%}

            <product-information-drawer
              id='product-information-sidebar-{{ block.id }}-{{ product.id }}-{{ sectionId }}'
              class='product-information-drawer block-{{ block.id }}-drawer'
              data-with-overlay
              data-with-close-on-outside
              data-with-close-on-escape
              data-overlay-important
              data-aria-expanded='false'
              data-open-direction='right'
              tabindex='-1'
            >
              <template>
                <div class='product-information-drawer__body'>
                  <div class='product-information-drawer__header'>
                    <div class='product-information-drawer__header-title'>
                      {{ btn_text }}
                    </div>
                    <sidebar-button>
                      <button
                        data-sidebar-button
                        class='unstyled-button product-information-drawer__header-close-button-wrapper close-button-with-scale-hover-wrapper'
                        data-sidebar-id='product-information-sidebar-{{ block.id }}-{{ product.id }}-{{ sectionId }}'
                      >
                        <span
                          class='close-button-with-scale-hover product-information-drawer__close-button-with-scale-hover'
                        ></span>
                      </button>
                    </sidebar-button>
                  </div>

                  <div class='product-information-drawer__viewport' data-product-information-drawer-viewport>
                    <tabs-component data-selected-tab-id='{{ first_tab_title }}'>
                      <div class='product-information-drawer__tab-names'>
                        {% if tab_1_title != blank %}
                          <div
                            data-tabs-name
                            class='product-information-drawer__tab-name {% if tab_count == 1 %} product-information-drawer__tab-name--single {% endif %} {% if tab_1_title == first_tab_title %}selected{% endif %}'
                            data-id='{{ tab_1_title }}'
                            tabindex='0'
                          >
                            {{ tab_1_title }}
                          </div>
                        {% endif %}
                        {% if tab_2_title != blank %}
                          <div
                            data-tabs-name
                            class='product-information-drawer__tab-name {% if tab_count == 1 %} product-information-drawer__tab-name--single {% endif %} {% if tab_2_title == first_tab_title %}selected{% endif %}'
                            data-id='{{ tab_2_title }}'
                            tabindex='0'
                          >
                            {{ tab_2_title }}
                          </div>
                        {% endif %}
                        {% if tab_3_title != blank %}
                          <div
                            data-tabs-name
                            class='product-information-drawer__tab-name {% if tab_count == 1 %} product-information-drawer__tab-name--single {% endif %} {% if tab_3_title == first_tab_title %}selected{% endif %}'
                            data-id='{{ tab_3_title }}'
                            tabindex='0'
                          >
                            {{ tab_3_title }}
                          </div>
                        {% endif %}
                      </div>

                      <div class='tabs product-details__tabs' data-tabs-container>
                        <template data-tabs-elements-template>
                          {% if tab_1_title != blank and tab_1_title != first_tab_title %}
                            <tab-component
                              class='product-information-drawer__tab-element'
                              aria-hidden='true'
                              data-id='{{ tab_1_title }}'
                            >
                              <div data-tabs-element-content class='product-information-drawer__content'>
                                {% if tab_1_text != blank %}
                                  <div class='rte'>
                                    {{ tab_1_text }}
                                  </div>
                                {% endif %}

                                {% if tab_1_page != blank %}
                                  <div class='rte rte--page'>
                                    {{ tab_1_page.content }}
                                  </div>
                                {% endif %}
                              </div>
                            </tab-component>
                          {% endif %}
                          {% if tab_2_title != blank and tab_2_title != first_tab_title %}
                            <tab-component
                              class='product-information-drawer__tab-element'
                              aria-hidden='true'
                              data-id='{{ tab_2_title }}'
                            >
                              <div data-tabs-element-content class='product-information-drawer__content'>
                                {% if tab_2_text != blank %}
                                  <div class='rte'>
                                    {{ tab_2_text }}
                                  </div>
                                {% endif %}

                                {% if tab_2_page != blank %}
                                  <div class='rte rte--page'>
                                    {{ tab_2_page.content }}
                                  </div>
                                {% endif %}
                              </div>
                            </tab-component>
                          {% endif %}
                          {% if tab_3_title != blank and tab_3_title != first_tab_title %}
                            <tab-component
                              class='product-information-drawer__tab-element'
                              aria-hidden='true'
                              data-id='{{ tab_3_title }}'
                            >
                              <div data-tabs-element-content class='product-information-drawer__content'>
                                {% if tab_3_text != blank %}
                                  <div class='rte'>
                                    {{ tab_3_text }}
                                  </div>
                                {% endif %}

                                {% if tab_3_page != blank %}
                                  <div class='rte rte--page'>
                                    {{ tab_3_page.content }}
                                  </div>
                                {% endif %}
                              </div>
                            </tab-component>
                          {% endif %}
                        </template>

                        {% if tab_1_title != blank and tab_1_title == first_tab_title %}
                          <tab-component
                            class='product-information-drawer__tab-element'
                            aria-hidden='false'
                            data-id='{{ tab_1_title }}'
                          >
                            <div data-tabs-element-content class='product-information-drawer__content'>
                              {% if tab_1_text != blank %}
                                <div class='rte'>
                                  {{ tab_1_text }}
                                </div>
                              {% endif %}

                              {% if tab_1_page != blank %}
                                <div class='rte rte--page'>
                                  {{ tab_1_page.content }}
                                </div>
                              {% endif %}
                            </div>
                          </tab-component>
                        {% endif %}
                        {% if tab_2_title != blank and tab_2_title == first_tab_title %}
                          <tab-component
                            class='product-information-drawer__tab-element'
                            aria-hidden='false'
                            data-id='{{ tab_2_title }}'
                          >
                            <div data-tabs-element-content class='product-information-drawer__content'>
                              {% if tab_2_text != blank %}
                                <div class='rte'>
                                  {{ tab_2_text }}
                                </div>
                              {% endif %}

                              {% if tab_2_page != blank %}
                                <div class='rte rte--page'>
                                  {{ tab_2_page.content }}
                                </div>
                              {% endif %}
                            </div>
                          </tab-component>
                        {% endif %}
                        {% if tab_3_title != blank and tab_3_title == first_tab_title %}
                          <tab-component
                            class='product-information-drawer__tab-element'
                            aria-hidden='false'
                            data-id='{{ tab_3_title }}'
                          >
                            <div data-tabs-element-content class='product-information-drawer__content'>
                              {% if tab_3_text != blank %}
                                <div class='rte'>
                                  {{ tab_3_text }}
                                </div>
                              {% endif %}

                              {% if tab_3_page != blank %}
                                <div class='rte rte--page'>
                                  {{ tab_3_page.content }}
                                </div>
                              {% endif %}
                            </div>
                          </tab-component>
                        {% endif %}
                      </div>
                    </tabs-component>
                  </div>
                </div>
              </template>
            </product-information-drawer>

          {% when 'information_tag' %}
            {% if block.settings.enable_drawer %}
              {%- liquid
                assign options = block.settings
                assign drawer_page = options.drawer_page
                assign drawer_image = options.drawer_image
                assign drawer_video = options.drawer_video
                assign drawer_text = options.drawer_text
                assign heading = options.heading
              -%}

              <product-information-drawer
                id='product-information-sidebar-{{ block.id }}-{{ product.id }}-{{ sectionId }}'
                class='product-information-drawer block-{{ block.id }}-drawer'
                data-with-overlay
                data-with-close-on-outside
                data-with-close-on-escape
                data-overlay-important
                data-open-direction='right'
                tabindex='-1'
              >
                <template>
                  <div class='product-information-drawer__body'>
                    <div class='product-information-drawer__header'>
                      <div class='product-information-drawer__header-title'>
                        {{ heading }}
                      </div>
                      <sidebar-button>
                        <button
                          data-sidebar-button
                          class='unstyled-button product-information-drawer__header-close-button-wrapper close-button-with-scale-hover-wrapper'
                          data-sidebar-id='product-information-sidebar-{{ block.id }}-{{ product.id }}-{{ sectionId }}'
                        >
                          <span
                            class='close-button-with-scale-hover product-information-drawer__close-button-with-scale-hover'
                          ></span>
                        </button>
                      </sidebar-button>
                    </div>

                    <div class='product-information-drawer__viewport' data-product-information-drawer-viewport>
                      <div class='product-information-drawer__content product-information-drawer__content--restrict-top-space'>
                        {% if drawer_text != blank %}
                          <div class='rte'>
                            {{ drawer_text }}
                          </div>
                        {% endif %}

                        {% if drawer_page != blank %}
                          <div class='rte rte--page'>
                            {{ drawer_page.content }}
                          </div>
                        {% endif %}

                        {%- if drawer_video != blank -%}
                          {% render 'video-with-alt', video: drawer_video, class: 'product-information-drawer__image' %}
                        {%- elsif drawer_image != blank -%}
                          <img
                            class='product-information-drawer__image lazyload'
                            {% render 'image-attributes', image: drawer_image %}
                          >
                        {%- endif -%}
                      </div>
                    </div>
                  </div>
                </template>
              </product-information-drawer>
            {% endif %}
        {% endcase %}
      {%- endfor -%}

      {%- liquid
        if enable_image_zoom
          render 'product-modal', product: product, sectionId: sectionId
        endif
      -%}
    </div>

    <div class='quick-view__body'>
      <div class='quick-view__header quick-view__header--mobile'>
        <div class='quick-view__header-title'>{{ 'dialog_elements.quick_view.header_title' | t }}</div>
        <sidebar-button>
          <button
            data-sidebar-button
            data-sidebar-id='Quick-view'
            class='unstyled-button quick-view__close-button close-button-with-scale-hover-wrapper'
            tabindex='0'
          >
            <span class='quick-view__close-button-with-scale-hover close-button-with-scale-hover'></span>
          </button>
        </sidebar-button>
      </div>
      <div class='quick-view__content' data-quick-view-content>
        <div class='product__content'>
          <div class='quick-view__media'>
            <div class='product-desktop-media'>
              {% render 'product-media-grid',
                product: product,
                block: block,
                block_layout: block_layout,
                img_ratio: img_ratio,
                enable_image_zoom: enable_image_zoom,
                enable_video_autoplay: enable_video_autoplay,
                enable_video_looping: enable_video_looping,
                sectionId: sectionId
              %}
            </div>
            <div class='product-mobile-media {% if show_part_of_next_slide %} product-mobile-media--with-half-next-slide{% endif %}'>
              <product-media-carousel
                data-section='{{ sectionId }}'
                id='product-media-{{ product.id }}-{{ sectionId }}'
              >
                <carousel-component
                  class='carousel product-mobile-media__carousel'
                  data-section-id='{{ sectionId }}'
                  data-product-media-carousel-component
                  tabindex='-1'
                >
                  <div class='carousel__viewport embla product-mobile-media__carousel-viewport' data-carousel-viewport>
                    <div class='carousel__container' data-carousel-container>
                      {%- if product.media != blank -%}
                        {%- for media in product_media -%}
                          {%- if forloop.index0 == 0 -%}
                            {% assign is_first_media = true %}
                          {%- else -%}
                            {%- assign is_first_media = false -%}
                          {%- endif -%}

                          <div
                            class='carousel__slide product-mobile-media__carousel-slide'
                            data-media-id='{{ media.id }}'
                          >
                            <div class='shape shape--{{ img_ratio }}'>
                              {%- render 'product-media',
                                product: product,
                                is_first_media: is_first_media,
                                enable_image_zoom: enable_image_zoom,
                                enable_video_autoplay: enable_video_autoplay,
                                media: media,
                                modal_media_id: media.id,
                                enable_video_looping: enable_video_looping,
                                sectionId: sectionId
                              -%}
                            </div>
                          </div>
                        {%- endfor -%}
                      {%- else -%}
                        {%- for media in product_media -%}
                          <div
                            class='carousel__slide product-mobile-media__carousel-slide'
                            data-media-id='{{ forloop.index }}'
                          >
                            <div class='shape shape--{{ img_ratio }}'>
                              {%- render 'product-media',
                                product: product,
                                enable_image_zoom: enable_image_zoom,
                                enable_video_autoplay: enable_video_autoplay,
                                media: media,
                                modal_media_id: forloop.index,
                                enable_video_looping: enable_video_looping,
                                sectionId: sectionId
                              -%}
                            </div>
                          </div>
                        {%- endfor -%}
                      {%- endif -%}
                    </div>
                  </div>
                  {% if show_part_of_next_slide != true and product_media.size > 1 %}
                    <carousel-dots
                      class='dots-carousel product-mobile-media__dots-carousel'
                      data-contain-scroll='keepSnaps'
                      data-align='center'
                    >
                      <div class='dots-carousel__viewport embla' data-carousel-viewport>
                        <div class='dots-carousel__container' data-carousel-container>
                          {%- for media in product_media -%}
                            <carousel-dot
                              class='dots-carousel__slide {% if forloop.index == 1 %}is-primary{% endif %}'
                              tabindex='0'
                              data-dot-index='{{ forloop.index0 }}'
                            >
                              <div class='dots-carousel__slide-body'>
                                <div class='dots-carousel__slide-inner-circle'></div>
                                <div
                                  class='dots-carousel__loader'
                                  size='medium'
                                  variant='dark'
                                  data-autoplay-indicator
                                  style='--gsc-autoplay-interval: {{ autoplay_interval }}s;'
                                >
                                  {% render 'icon',
                                    icon_name: 'circle',
                                    background_class: 'dots-carousel__loader-background',
                                    border_class: 'dots-carousel__loader-border',
                                    circle_class: 'dots-carousel__loader-circle'
                                  %}
                                </div>
                              </div>
                            </carousel-dot>
                          {%- endfor -%}
                        </div>
                      </div>
                    </carousel-dots>
                  {% endif %}
                </carousel-component>
              </product-media-carousel>
            </div>
          </div>

          <div class='product__info-wrapper'>
            <div class='quick-view__header quick-view__header--desktop'>
              <div class='quick-view__header-title'>{{ 'dialog_elements.quick_view.header_title' | t }}</div>
              <sidebar-button>
                <button
                  data-sidebar-button
                  data-sidebar-id='Quick-view'
                  class='unstyled-button quick-view__close-button close-button-with-scale-hover-wrapper'
                  tabindex='0'
                >
                  <span class='quick-view__close-button-with-scale-hover close-button-with-scale-hover'></span>
                </button>
              </sidebar-button>
            </div>
            <div class='product__info'>
              {%- liquid
                for block in section.blocks
                  case block.type
                    when 'vendor'
                      render 'product-vendor-block', product: product, section: section, block: block, sectionId: sectionId
                    when 'title'
                      render 'product-title-block', product: product, section: section, block: block, sectionId: sectionId
                    when 'sku'
                      render 'product-sku-block', product: product, section: section, block: block, sectionId: sectionId
                    when 'price'
                      render 'product-price-block', product: product, section: section, block: block, sectionId: sectionId
                    when 'quantity_selector'
                      render 'product-quantity-block', product: product, section: section, block: block, sectionId: sectionId
                    when 'variant_picker'
                      render 'product-variant-picker-block', product: product, section: section, block: block, sectionId: sectionId
                    when 'buy_buttons'
                      render 'product-form-block', product: product, section: section, block: block, sectionId: sectionId
                      render 'product-link-block', product: product, section: section, block: block, sectionId: sectionId
                  endcase
                endfor
              -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
