{{ 'collection-text.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'bundle.collection-text.css' | asset_url | stylesheet_tag: preload: true }}

{%- liquid
  assign options = section.settings

  assign color_scheme = options.color_scheme
  assign caption = options.caption
  assign title = options.title
  assign text = options.text
  assign link_text = options.link_text
  assign link_url = options.link_url
  assign content_position = options.content_position | default: 'left'
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom
  assign desktop_space_between_cards = options.desktop_space_between_cards | times: 0.1
  assign mobile_space_between_cards = options.mobile_space_between_cards | times: 0.1
  assign autoplay_interval = options.autoplay_interval
  assign enable_autoplay = options.enable_autoplay
  assign img_ratio = options.img_ratio | default: 'default'
  assign show_navigation_on_hover = options.show_navigation_on_hover
  assign container_size = options.container_size
  assign heading_size = options.heading_size
  assign body_size = options.body_size
  assign icon = options.icon
  assign custom_icon_image = options.custom_icon_image
  assign btn_style =  options.btn_style

  assign product_card_align = options.product_card_align | default: 'left'
  assign color_swatch_variables = settings.color_swatch_variables | newline_to_br | split: '<br />'

  if content_position == 'right'
    assign direction = 'inverse'
  endif

  assign with_only_links = true
  assign is_first_link = true

  if link_text != blank and btn_style != 'link'
    assign with_only_links = false
    assign is_first_link = false
  endif

  assign desktop_columns = options.desktop_columns
  assign laptop_columns = desktop_columns | minus: 1
  assign tablet_columns = desktop_columns | minus: 2
  assign desktop_carousel_percent_width = 100.0
  assign laptop_carousel_percent_width = 100.0
  assign tablet_carousel_percent_width = 100.0

  assign product_limit = options.cards_to_show | default : 6
  assign products = options.collection.products | default: (1..product_limit)

  assign product_card_with_bottom_spacing = false
  if settings.edge_rounding_degree != 'none'
    assign product_card_with_bottom_spacing = true
  endif
-%}

{% capture css %}
  {% style %}
    .section-{{section.id}}{
        --gsc-space-between-cards: {{mobile_space_between_cards}}rem;
        --gsc-slide-width: {{ desktop_carousel_percent_width | times: 1.00 | divided_by: desktop_columns }}%;
        --gsc-section-spacing-top: {{ section_spacing_top }}px;
        --gsc-section-spacing-bottom: {{ section_spacing_bottom }}px;
    }

    @media {% render 'media-queries', screen: 'md' %} {
        .section-{{section.id}}{
            --gsc-space-between-cards: {{desktop_space_between_cards}}rem;
        }
    }

    {% if desktop_columns == 3 %}
      @media screen and (min-width: 768px) and (max-width: 1016px) {
        .section-{{ section.id }} {
          --gsc-slide-width: {{ laptop_carousel_percent_width | times: 1.00 | divided_by: laptop_columns }}%;
        }
      }
    {% endif %}

    {% if desktop_columns > 3 %}
      @media screen and (min-width: 880px) and (max-width: 1016px) {
        .section-{{ section.id }} {
          --gsc-slide-width: {{ laptop_carousel_percent_width | times: 1.00 | divided_by: laptop_columns }}%;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 880px) {
        .section-{{ section.id }} {
          --gsc-slide-width: {{ tablet_carousel_percent_width | times: 1.00 | divided_by: tablet_columns }}%;
        }
      }
    {% endif %}
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}
{% style %}
  .section-{{ section.id }}{
    background: {{ section.settings.background }};
  } 
  .section-{{section.id}} .section-header__heading{
    color: {{ section.settings.heading_color}}
  }

  .section-{{section.id}} .section-header__cta.btn.btn--secondary{
    color: {{ section.settings.btn_color}};
    background: {{ section.settings.btn_bg_color }};
    border-color: {{ section.settings.btn_bg_color }};
  }

  .section-{{section.id}} .section-header__cta.btn.btn--outline{
    color: {{ section.settings.btn_color}};
    border-color: {{ section.settings.btn_bg_color }};
  }

  .section-{{section.id}} .section-header__description {
    color: {{ section.settings.subheading_color}};
  }

  .section-{{section.id}} .product-card__info * {
    color: {{ section.settings.subheading_color}};
  }
{% endstyle %}

<div class='collection-text section section-{{ section.id }} color-{{ color_scheme }} {% if section.settings.color_scheme == "default" %}over_right__color_scheme{%endif%}'>
  <div class='collection-text__container container section-spacing {% if direction == 'inverse' %}collection-text__container--inverse{% endif %}'>
    {%- if caption != blank
      or title != blank
      or text != blank
      or link_text != blank
      or icon != 'none'
      or custom_icon_image != blank
    -%}
      <div class='collection-text__content  {% if direction == 'inverse' %}collection-text__content--inverse{% endif %}' data-aos="fade-up">
        {%- if custom_icon_image != blank -%}
          <img
            class='collection-text__icon lazyload'
            {% render 'image-attributes', image: custom_icon_image, size: 'small' %}
          >
        {%- elsif icon != 'none' -%}
          {% render 'icon-pack', icon: icon, class: 'collection-text__icon' %}
        {%- endif -%}
        {%- if caption != blank -%}
          <div class='collection-text__caption caption'>
            {{ caption }}
          </div>
        {%- endif -%}
        {%- if title != blank -%}
          <h5 class='{{ heading_size }} section-header__heading'>{{ title }}</h5>
        {%- endif -%}
        {%- if text != blank -%}
          <div class='rte {{ body_size }} section-header__description body-font-weight-from-global-settings'>
            {{ text }}
          </div>
        {%- endif -%}
        {% comment%}
          {%- if link_text != blank -%}
            <a
              class='link collection-text__link'
              href='{% if link_url != blank %}{{ link_url }}{% else %}#{% endif %}'
              aria-label='{{ link_text }}'
            >
              <span class='link__text'>{{ link_text }}</span>
              {%- render 'icon', icon_name: 'link-chevron', class: 'link__chevron' -%}
            </a>
          {%- endif -%}
        {% endcomment %}
        {%- if link_text != blank -%}
          {% if btn_style == 'link' -%}
            <a
              class='link our-bundles__btn-link section-header__cta'
              href='{% if link_url != blank %}{{ link_url }}{% else %}#{% endif %}'
              aria-label='{% if link_text != blank %}{{ link_text }}{% elsif link_url.title != blank %}{{ link_url.title }}{% else %}#{% endif %}'
            >
              <span class='link__text'>{{ link_text }}</span>
              {%- render 'icon', icon_name: 'link-chevron', class: 'link__chevron' -%}
            </a>
          {%- else -%}
            <a
              class='btn btn--{{ btn_style }} btn--secondary our-bundles__btn section-header__cta'
              href='{% if link_url != blank %}{{ link_url }}{% else %}#{% endif %}'
              aria-label='{% if link_text != blank %}{{ link_text }}{% elsif link_url.title != blank %}{{ link_url.title }}{% else %}#{% endif %}'
            >
              {{- link_text -}}
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endif -%}
    <carousel-component
      class='card-carousel collection-text__card-carousel {% if show_navigation_on_hover %}card-carousel--navigation-on-hover{% endif %}'
      data-contain-scroll='trimSnaps'
      {% if enable_autoplay == true %}
        data-autoplay-interval='{{ autoplay_interval }}'
      {% endif %}
      data-section-id='{{ section.id }}'
      data-aos="fade-up"
      data-aos-delay="200"
    >
      {%- if products.size > 1 -%}
        <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--prev'>
          <div class='shape shape--{{ img_ratio }}'>
            <carousel-btn
              class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--prev'
              data-scroll-direction='prev'
              tabindex='0'
            >
              {%- render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon x-flip' -%}
            </carousel-btn>
          </div>
        </div>
      {%- endif -%}
      <div class='embla card-carousel__viewport' data-carousel-viewport>
        <div class='card-carousel__container' data-carousel-container>
          {%- for product in products limit: product_limit -%}
            <div class='card-carousel__slide'>
              {% render 'product-card',
                product: product,
                show_color_swatches_on_hover: settings.show_product_color_swatches_on_hover,
                color_swatch_variables: color_swatch_variables,
                img_ratio: img_ratio,
                product_card_align: product_card_align,
                with_bottom_spacing: product_card_with_bottom_spacing
              %}
            </div>
          {%- endfor -%}
        </div>
      </div>
      {%- if products.size > 1 -%}
        <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--next'>
          <div class='shape shape--{{ img_ratio }}'>
            <carousel-btn
              class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--next'
              data-scroll-direction='next'
              tabindex='0'
            >
              {%- render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon' -%}
            </carousel-btn>
          </div>
        </div>
      {%- endif -%}
    </carousel-component>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collection_text.name",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color"
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "SubHeading Color"
    },
    {
      "type": "color",
      "id": "btn_color",
      "label": "Button Color"
    },
    {
      "type": "color",
      "id": "btn_bg_color",
      "label": "Button Background Color"
    },
    {
      "type": "header",
      "content": "t:sections.collection_text.collection_settings_header"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.collection_text.collection_label"
    },
    {
      "type": "header",
      "content": "t:sections.collection_text.content_settings_header"
    },

    {
      "type": "text",
      "id": "title",
      "default": "Carousel of products",
      "label": "t:sections.collection_text.title_label"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Tell customers by what your latest collection was inspired.</p>",
      "label": "t:sections.collection_text.text_label"
    },
    {
      "type": "text",
      "id": "link_text",
      "default": "Link label",
      "label": "t:sections.collection_text.link_text_label"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "t:sections.collection_text.link_url_label"
    },
    {
      "type": "header",
      "content": "t:sections.collection_text.cards_settings_header"
    },
    {
      "type": "header",
      "content": "t:sections.collection_text.carousel_settings_header"
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "default": false,
      "label": "t:sections.collection_text.enable_autoplay_label"
    },
    {
      "type": "range",
      "id": "autoplay_interval",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 3,
      "unit": "t:sections.collection_text.autoplay_interval_unit",
      "label": "t:sections.collection_text.autoplay_interval_label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection_text.name"
    }
  ]
}
{% endschema %}
