{% if page.metafields.custom.benefits.value != blank %}
{% assign container_size = section.settings.container_size %}
<div class="ingrediants__benefits">
    <div class="ingrediants__benefits-wrapper">
        {% capture benefits_section_image %}
            {% for obj in page.metafields.custom.benefits.value %}
                {% if obj.section_image %}
                    <img class="ingrediants__benefits-image" src="{{ obj.section_image | img_url: 'master' }}" alt="{{ obj.text }}"/>
                {% endif %}
            {% endfor %}
        {% endcapture %}
        <div class="ingrediants__benefits-header"> 
        {{ benefits_section_image }}
        <h2 class="ingrediants__benefits-title">{{ section.settings.benefit_title }}</h2>
    </div>
        <div class="ingrediants__benefits-container">
            <div class="ingrediants__benefits-list">
                {% for obj in page.metafields.custom.benefits.value %}
                    <div class="ingrediants__benefits-item">
                        {% if obj.icon != blank %}
                            <img class="ingrediants__benefits-item-image" src="{{ obj.icon | img_url: 'master' }}" alt="{{ obj.text }}"/>
                        {% endif %}
                        <p class="ingrediants__benefits-item-text">{{ obj.text }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% schema %}
{
    "name": "Ingredients - Benefits",
    "settings": [
        {
            "type": "select",
            "id": "container_size",
            "options": [
              {
                "value": "full-screen",
                "label": "t:sections.general_section_settings.container_size.screen_width_option"
              },
              {
                "value": "page-width",
                "label": "t:sections.general_section_settings.container_size.page_width_option"
              },
              {
                "value": "large",
                "label": "t:sections.general_section_settings.container_size.large_width_option"
              },
              {
                "value": "medium",
                "label": "t:sections.general_section_settings.container_size.medium_width_option"
              },
              { 
                "value": "small",
                "label": "t:sections.general_section_settings.container_size.small_width_option"
              }
            ],
            "default": "full-screen",
            "label": "t:sections.general_section_settings.container_size.label"
        },
        {
            "type": "text",
            "id": "benefit_title",
            "label": "Benefits title",
            "default": "Benefits"
        },
        {
            "type": "range",
            "id": "benefit_title_font_size",
            "label": "Benefit title font size",
            "min": 10,
            "max": 100,
            "step": 1,
            "default": 24
        }
    ],
    "presets": [
        {
            "name": "Ingredients - Benefits"
        }
    ]
}
{% endschema %}