{{ 'ingredients.css' | asset_url | stylesheet_tag }}
{% assign container_size = section.settings.container_size %}
{% style %}
    .description_title{
        font-size: {{ section.settings.description_title_font_size }}px;
    }
    .description_content{
        font-size: {{ section.settings.description_content_font_size}}px;
    }
    @media (max-width: 768px){
        .description_title{
            font-size: {{ section.settings.description_title_font_size_for_mobile }}px;
        }
        .description_content{
            font-size: {{ section.settings.description_content_font_size_for_mobile }}px;
        }
    }
{% endstyle %}
{% if page.metafields.custom.description != blank %}
    <div class="container container--{{ container_size }} ingredients_description_section">
        <div class="ingredient_description_container">
            <h2 class="description_title">{{ section.settings.description_title | upcase }}</h2>
            <div class="description_content {{ section.settings.description_text_align }}">{{ page.metafields.custom.description }}</div>
        </div>
    </div>
{% endif %}

{% schema %}
    {
        "name": "Ingredients - Description",
        "settings": [
            {
                "type": "range",
                "id": "section_max_width",
                "label": "Section max width",
                "min": 600,
                "max": 1500,
                "step": 10,
                "default": 900
            },
            {
                "type": "select",
                "id": "container_size",
                "options": [
                  {
                    "value": "full-screen",
                    "label": "t:sections.general_section_settings.container_size.screen_width_option"
                  },
                  {
                    "value": "page-width",
                    "label": "t:sections.general_section_settings.container_size.page_width_option"
                  },
                  {
                    "value": "large",
                    "label": "t:sections.general_section_settings.container_size.large_width_option"
                  },
                  {
                    "value": "medium",
                    "label": "t:sections.general_section_settings.container_size.medium_width_option"
                  },
                  { 
                    "value": "small",
                    "label": "t:sections.general_section_settings.container_size.small_width_option"
                  }
                ],
                "default": "full-screen",
                "label": "t:sections.general_section_settings.container_size.label"
            },
            {
                "type": "text",
                "id": "description_title",
                "label": "Description title",
                "default": "About"
            },
            {
                "type": "range",
                "id": "description_title_font_size",
                "label": "Description title font size",
                "min": 10,
                "max": 100,
                "step": 1,
                "default": 24
            },
            {
                "type": "range",
                "id": "description_title_font_size_for_mobile",
                "label": "Description title font size for mobile",
                "min": 10,
                "max": 100,
                "step": 1,
                "default": 20
            },
            {
                "type": "range",
                "id": "description_content_font_size",
                "label": "Description content font size",
                "min": 10,
                "max": 100,
                "step": 1,
                "default": 20
            },
            {
                "type": "range",
                "id": "description_content_font_size_for_mobile",
                "label": "Description content font size for mobile",
                "min": 10,
                "max": 100,
                "step": 1,
                "default": 16
            },
            {
                "type": "select",
                "id": "description_text_align",
                "label": "Description text align",
                "options": [
                    {
                        "value" : "left_aligned",
                        "label": "Left aligned"
                    },
                    {
                        "value" : "center_aligned",
                        "label": "Center aligned"
                    },
                    {
                        "value" : "right_aligned",
                        "label": "Right aligned"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Ingredients - Description"
            }
        ]
    }
{% endschema %}