{%- liquid
    assign options = section.settings
  
    assign style = options.style
    assign color_scheme = options.color_scheme
    assign section_spacing_top = options.section_spacing_top
    assign section_spacing_bottom = options.section_spacing_bottom
    assign container_size = options.container_size
    assign enable_background_around_container = options.enable_background_around_container
    assign expand_first_collapsible_row = options.expand_first_collapsible_row
  
    assign first_block = section.blocks | first
  
    assign data_metafields = product.metafields.custom.content_tabs.value

    assign data_metafields_checkbox = section.settings.from_metafields | default: true
    assign blocks_length = section.blocks | size
    assign highlighted_background_color = product.metafields.custom.color_schema.value.highlighted_background_color | default: '#EA6852'
    assign highlighted_text_color = product.metafields.custom.color_schema.value.highlighted_text_color | default: '#FFF'
  
    assign section_heading = options.section_heading
    if color_scheme == 'default'
      assign color_scheme = settings.default_color_scheme
    endif
  -%}
  {{ 'faq-section.css' | asset_url | stylesheet_tag }}
  {{ 'bundle.faq.css' | asset_url | stylesheet_tag }}
  {% capture css %}
    {% style %}
      .section-{{ section.id }} {
        --gsc-section-spacing-top: {{ section_spacing_top }}px;
        --gsc-section-spacing-bottom: {{ section_spacing_bottom }}px;
      }
  
      {% for block in section.blocks %}
          .block-{{block.id}}{
              --gsc-image-width: {{ block.settings.image_width }}%;
          }
      {% endfor %}
      {% if data_metafields_checkbox == true and data_metafields == blank %}
        .product_faq_class{
          display: none;
        }
      {% endif %}
    {% endstyle %}
  {% endcapture %}
  
  {% render 'inline-css-minifier', css: css %}
    <div class='section-{{ section.id }} {% if enable_background_around_container %} section color-{{ color_scheme }} {% endif %} faq-section--parent collapsable'  data-aos="fade-up">
      <div class=''>
        {% if section_heading != blank %}
            <div class="section_heading">
            {% if blocks_length > 0 %}
                {{ section_heading }}
            {% endif %}
            </div>
        {% endif %}
        <div class='{% unless enable_background_around_container %} faq-section__container--with-aside-spacing section color-{{ color_scheme }}  {% endunless %} accordion--wrapper accordion--wrapper--padded'>
            {% for data in data_metafields %}
                <accordeon-component
                  class='accordeon-plus accordion {% unless forloop.last %} accordeon-plus--bottom-bordered{% endunless %} {% unless forloop.first %} accordeon-plus--top-bordered{% endunless %} block-{{block.id}}'
                  data-aria-expanded='{% if expand_first_collapsible_row and forloop.index == 1 %}true{% else %}false{% endif %}'
                  data-section-id='{{ section.id }}'
                  data-block-id='{{ block.id }}'
                  {{ block.shopify_attributes }}
                >
                  <accordeon-btn
                    class='accordeon-plus__btn accordeon-plus__btn--small accordion__content faq-section__accordeon-btn  accordion__content--background'
                    tabindex='0'
                  >

                    <div class="accordion__title">{{ data.info_heading }} </div>
                 
                    {% render 'icon', icon_name: 'chevron-up', class: 'accordeon-plus__icon' %}
                  </accordeon-btn>
                  <div class='accordeon-plus__content-wrap' data-accordeon-content-wrapper>
                    <div class='accordeon-plus__content faq-section__accordeon-content' data-accordeon-content>
                      {%- assign text = data.content -%}
                      {% assign left_content_text = data.content_left_column %}
                      {% assign right_content_text = data.content_right_column %}
                      {% if left_content_text != blank or right_content_text != blank %}
                        <div class='faq-section__content-tab-content faq-section__content-tab-content--padded-alt '>
                          {% if left_content_text != blank %}
                          <div class="faq-section__content-tab-text-wrapper faq-section__content-tab-text-wrapper--left">
                            <div class='rte faq-section__rte accordion__text accordion__text--no-padding'>
                              {{left_content_text}}
                            </div>
                          </div>
                        {% endif %}
                        {% if right_content_text != blank %}
                          <div class="faq-section__content-tab-text-wrapper faq-section__content-tab-text-wrapper--right">
                            <div class='rte faq-section__rte accordion__text accordion__text--no-padding'>
                              {{ right_content_text }}
                            </div>
                          </div>
                        {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </accordeon-component>
          {%- endfor -%}
        </div>
      </div>
    </div>
  
  {% schema %}
  {
    "name": "Product Info Accordions",
    "tag": "section",
    "class": "product_faq_class",
    "settings": [
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "default",
            "label": "t:sections.general_section_settings.color_scheme_option_default_label"
          },
          {
            "value": "primary",
            "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
          },
          {
            "value": "secondary",
            "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
          },
          {
            "value": "custom-1",
            "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
          },
          {
            "value": "custom-2",
            "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
          },
          {
            "value": "custom-3",
            "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
          }
        ],
        "default": "custom-1",
        "label": "t:sections.general_section_settings.color_scheme_label"
      },
      {
        "type": "checkbox",
        "id": "enable_background_around_container",
        "default": true,
        "label": "t:sections.general_section_settings.enable_background_around_container_label"
      },

      {
        "type": "checkbox",
        "default": false,
        "id": "expand_first_collapsible_row",
        "label": "t:sections.product_details.expand_first_collapsible_row.label",
        "info": "t:sections.product_details.expand_first_collapsible_row.info"
      }
    ],

    "presets": [
      {
          "name": "Product Info Accordions"
      }
    ]
  }
  {% endschema %}