{%- liquid
    assign options = section.settings
  
    assign style = options.style
    assign color_scheme = options.color_scheme
    assign section_spacing_top = options.section_spacing_top
    assign section_spacing_bottom = options.section_spacing_bottom
    assign container_size = options.container_size
    assign enable_background_around_container = options.enable_background_around_container
    assign expand_first_collapsible_row = options.expand_first_collapsible_row
  
    assign first_block = section.blocks | first
  
    assign data_metafields = product.metafields.custom.faq_section_data.value
    assign data_metafields_checkbox = section.settings.from_metafields
    assign blocks_length = section.blocks | size
    assign highlighted_background_color = product.metafields.custom.color_schema.value.highlighted_background_color | default: '#EA6852'
    assign highlighted_text_color = product.metafields.custom.color_schema.value.highlighted_text_color | default: '#FFF'
  
    assign section_heading = options.section_heading
    if color_scheme == 'default'
      assign color_scheme = settings.default_color_scheme
    endif
  -%}
  {{ 'faq-section.css' | asset_url | stylesheet_tag }}
  {{ 'bundle.faq.css' | asset_url | stylesheet_tag }}
  {% capture css %}
    {% style %}
      .section-{{ section.id }} {
        --gsc-section-spacing-top: {{ section_spacing_top }}px;
        --gsc-section-spacing-bottom: {{ section_spacing_bottom }}px;
      }
  
      {% for block in section.blocks %}
          .block-{{block.id}}{
              --gsc-image-width: {{ block.settings.image_width }}%;
          }
      {% endfor %}
      {% if data_metafields_checkbox == true and data_metafields == blank %}
        .product_faq_class{
          display: none;
        }
      {% endif %}
    {% endstyle %}
  {% endcapture %}
  
  {% render 'inline-css-minifier', css: css %}
  {% if data_metafields_checkbox == false %}
    <div class='section-{{ section.id }} {% if enable_background_around_container %} section color-{{ color_scheme }} {% endif %} faq-section--parent collapsable'  data-aos="fade-up">
      <div class='section-spacing container container--{{ container_size }}'>
        {% if section_heading != blank %}
            <div class="section_heading">
            {% if blocks_length > 0 %}
                {{ section_heading }}
            {% endif %}
            </div>
        {% endif %}
        <div class='{% unless enable_background_around_container %} faq-section__container--with-aside-spacing section color-{{ color_scheme }}  {% endunless %} accordion--wrapper accordion--wrapper--padded'>
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'collapsible_row' -%}
                <accordeon-component
                  class='accordeon-plus accordion {% unless forloop.last %} accordeon-plus--bottom-bordered{% endunless %} {% unless forloop.first %} accordeon-plus--top-bordered{% endunless %} block-{{block.id}} {% if block.settings.enable_background_header %} accordion--content-background {% endif %}'
                  data-aria-expanded='{% if expand_first_collapsible_row and forloop.index == 1 %}true{% else %}false{% endif %}'
                  data-section-id='{{ section.id }}'
                  data-block-id='{{ block.id }}'
                  {{ block.shopify_attributes }}
                >
                  <accordeon-btn
                    class='accordeon-plus__btn accordeon-plus__btn--small accordion__content faq-section__accordeon-btn {% if block.settings.enable_background_header %} accordion__content--background {% endif %}'
                    tabindex='0'
                  >

                    <div class="accordion__title">{{ block.settings.title }} </div>
                 
                    {% render 'icon', icon_name: 'chevron-up', class: 'accordeon-plus__icon' %}
                  </accordeon-btn>
                  <div class='accordeon-plus__content-wrap' data-accordeon-content-wrapper>
                    <div class='accordeon-plus__content faq-section__accordeon-content' data-accordeon-content>
                      {%- assign image = block.settings.image -%}
                      {%- assign video = block.settings.video -%}
                      {%- assign page = block.settings.page -%}
                      {%- assign text = block.settings.text -%}
  
                      <div class='faq-section__content-tab-content body-font-weight-from-global-settings'>
                        {% if text != blank %}
                          <div class='rte faq-section__rte accordion__text'>
                            {{ text }}
                          </div>
                        {% endif %}
  
                        {% if page != blank %}
                          <div class='rte rte--page faq-section__rte accordion__text'>
                            {{ page.content }}
                          </div>
                        {% endif %}
  
  
                        {% if video != blank %}
                          {% render 'video-with-alt', video: video, class: 'image faq-section__image' %}
                        {% elsif image != blank %}
                          <img
                            class='image faq-section__image lazyload'
                            loading='lazy'
                            src='{{ image | image_url: width: 160 }}'
                            alt='{{ image.alt }}'
                            width='{{ image.width }}'
                            height='{{ image.height }}'
                            style='object-position: {{ image.presentation.focal_point }};'
                            data-aspectratio='{{ image.aspect_ratio }}'
                            data-srcset='{%- render 'srcset-for-image', image: image -%}'
                            data-sizes='auto'
                          >
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </accordeon-component>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
    {% else %}
    <div class='section-{{ section.id }} {% if enable_background_around_container %} section color-{{ color_scheme }} {% endif %} faq-section--parent' data-aos="fade-up">
      <div class='section-spacing container container--{{ container_size }}'>
        <div class="section_heading">
          {{ section_heading }}
        </div>
        <div class='{% unless enable_background_around_container %} faq-section__container--with-aside-spacing section color-{{ color_scheme }}  {% endunless %}'>
          {% for data in data_metafields %}
            <accordeon-component
                  class='accordeon-plus {% unless forloop.last %} accordeon-plus--bottom-bordered{% endunless %} {% unless forloop.first %} accordeon-plus--top-bordered{% endunless %} block-{{block.id}}'
                  data-aria-expanded='{% if expand_first_collapsible_row and forloop.index == 1 %}true{% else %}false{% endif %}'
                  data-section-id='{{ section.id }}'
                  data-block-id='{{ block.id }}'
                  {{ block.shopify_attributes }}
                >
                  <accordeon-btn
                    class='accordeon-plus__btn accordeon-plus__btn--small accordion__content faq-section__accordeon-btn {% if block.settings.enable_background_header %} accordion__content--background {% endif %}'
                    tabindex='0'
                  >
                    {{ data.heading }}
                    {% render 'icon', icon_name: 'chevron-up', class: 'accordeon-plus__icon' %}
                  </accordeon-btn>
                  <div class='accordeon-plus__content-wrap' data-accordeon-content-wrapper>
                    <div class='accordeon-plus__content faq-section__accordeon-content' data-accordeon-content>
                      {%- assign image = data.image -%}
                      {%- assign video = data.video | file_url -%}
                      {%- assign text = data.content -%}
  
                      <div class='faq-section__content-tab-content body-font-weight-from-global-settings'>
                        {% if data.content != blank %}
                          <div class='rte faq-section__rte'>
                            {{ data.content }}
                          </div>
                        {% endif %}
  
                      </div>
                    </div>
                  </div>
                </accordeon-component>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  
  {% schema %}
  {
    "name": "Product Info Accordions",
    "tag": "section",
    "class": "product_faq_class",
    "settings": [
      {
        "type": "checkbox",
        "id": "from_metafields",
        "label": "Data from Metafields",
        "default": false
      },
      {
        "type": "text",
        "id": "section_heading",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "default",
            "label": "t:sections.general_section_settings.color_scheme_option_default_label"
          },
          {
            "value": "primary",
            "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
          },
          {
            "value": "secondary",
            "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
          },
          {
            "value": "custom-1",
            "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
          },
          {
            "value": "custom-2",
            "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
          },
          {
            "value": "custom-3",
            "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
          }
        ],
        "default": "custom-1",
        "label": "t:sections.general_section_settings.color_scheme_label"
      },
      {
        "type": "checkbox",
        "id": "enable_background_around_container",
        "default": true,
        "label": "t:sections.general_section_settings.enable_background_around_container_label"
      },
      {
        "type": "select",
        "id": "container_size",
        "options": [
          {
            "value": "page-width",
            "label": "t:sections.general_section_settings.container_size.page_width_option"
          },
          {
            "value": "large",
            "label": "t:sections.general_section_settings.container_size.large_width_option"
          },
          {
            "value": "medium",
            "label": "t:sections.general_section_settings.container_size.medium_width_option"
          },
          {
            "value": "small",
            "label": "t:sections.general_section_settings.container_size.small_width_option"
          },
          {
            "value": "xsmall",
            "label": "t:sections.general_section_settings.container_size.extra_small_width_option"
          }
        ],
        "default": "large",
        "label": "t:sections.general_section_settings.container_size.label"
      },
      {
        "type": "range",
        "id": "section_spacing_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0,
        "unit": "t:sections.general_section_settings.section_spacing_top.unit",
        "label": "t:sections.general_section_settings.section_spacing_top.label"
      },
      {
        "type": "range",
        "id": "section_spacing_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0,
        "unit": "t:sections.general_section_settings.section_spacing_bottom.unit",
        "label": "t:sections.general_section_settings.section_spacing_bottom.label"
      },
      {
        "type": "checkbox",
        "default": false,
        "id": "expand_first_collapsible_row",
        "label": "t:sections.product_details.expand_first_collapsible_row.label",
        "info": "t:sections.product_details.expand_first_collapsible_row.info"
      }
    ],
    "blocks": [
      {
        "type": "collapsible_row",
        "name": "t:sections.product_details.collapsible_row_block_name",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_background_header",
            "label": "Enable Background On Accordion Title",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "default": "Content tab",
            "label": "t:sections.product_details.collapsible_row_block_title_label"
          },
          {
            "type": "header",
            "content": "t:sections.product_details.source_header.content"
          },
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Pair image with text to tell more about your product: care instructions, country of origin, manufacturer information, matching colors and accessories.</p>",
            "label": "t:sections.product_details.collapsible_row_block_text_label"
          },
          {
            "type": "page",
            "id": "page",
            "label": "t:sections.product_details.collapsible_row_page_text_label"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.product_details.collapsible_row_block_image_label"
          },
          {
            "type": "video",
            "id": "video",
            "label": "t:sections.general_section_settings.label_for_video_setting"
          },
          {
            "type": "range",
            "id": "image_width",
            "min": 10,
            "max": 100,
            "step": 1,
            "default": 100,
            "unit": "t:sections.product_details.collapsible_row_block_image_width_unit",
            "label": "t:sections.product_details.collapsible_row_block_image_width_label"
          }
        ]
      }
    ],
    "presets": [
      {
          "name": "Product Info Accordions"
      }
    ]
  }
  {% endschema %}