{{ 'text-with-image.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'bundle.text-with-image.css' | asset_url | stylesheet_tag: preload: true }}
{%- liquid
    assign options = section.settings
  
    assign color_scheme = options.color_scheme
    assign caption = options.captions
    assign title = options.heading
    assign text = options.texts
    assign link_text = options.text_link
    assign link_url = options.url_link
    assign content_position = options.contents_position
    assign section_spacing_top = options.section_spacing_for_top
    assign section_spacing_bottom = options.section_spacing_for_bottom
    assign container_size = options.container_size
    assign heading_size = options.headings_size
    assign body_size = options.body_sizes
    assign icon = options.icons
    assign custom_icon_image = options.custom_icon_images
    assign btn_style =  options.button_style
  
    if content_position == 'right'
      assign direction = 'inverse'
    endif
  
    assign with_only_links = true
    assign is_first_link = true
  
    if link_text != blank and btn_style != 'link'
      assign with_only_links = false
      assign is_first_link = false
    endif
  
    if color_scheme == 'default'
      assign color_scheme = settings.default_color_scheme
    endif
  
-%}
  
{% capture css %}
  {% style %}
    .section-{{section.id}}{
        --gsc-section-spacing-top: {{ section_spacing_top }}px;
        --gsc-section-spacing-bottom: {{ section_spacing_bottom }}px;
    }
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

{% style %}
  .text-with-image-container {
    background: {{ section.settings.container-background }};
  } 
  .side-textpart h5{
    color: {{ section.settings.text_color }};
  }
  .side-textpart .subtext__text{
    color: {{ section.settings.text_color }};
  }
  .side-textpart .text--with-image__btn{
    color: {{ section.settings.button_color }};
  }
  .side-textpart .text--with-image__btn{
    background: {{ section.settings.buton_bg_color }};
  } 

  .side-imagespart .subheading-for-image {
    color: {{ section.settings.text_color }};
  }
{% endstyle %}


<div class='text-with-image-container section section-{{ section.id }}  color-{{ color_scheme }} {% if section.settings.color_scheme == "default" %}over__color_scheme{%endif%}'>
    <div class="text-with-image__container  image-text__container flex-container container  container--{{ container_size }} {% if direction == 'inverse' %}text-with-image__container--inverse{% endif %}">
        {%- if caption != blank
          or title != blank
          or text != blank
          or link_text != blank
          or icon != 'none'
          or custom_icon_image != blank
        -%}

    <!-- text part -->
    <div class="text-with-image__content side-textpart {% if direction == 'inverse' %}text-with-image__container--inverse section-header {% endif %}" data-aos="fade-up">
        {%- if custom_icon_image != blank -%}
          <img
            loading='lazy'
            alt='{{ custom_icon_image.alt }}'
            class='text-with-image__icon lazyload'
            width='48'
            height='48'
            src='{{ custom_icon_image | image_url: width: 48 }}'
            style='object-position: {{ custom_icon_image.presentation.focal_point }};'
            data-aspectratio='{{ custom_icon_image.aspect_ratio }}'
            data-srcset='{%- render 'srcset-for-image', image: custom_icon_image, size: 'small' -%}'
            data-sizes='auto'
          >
          {%- elsif icon != 'none' -%}
          {% render 'icon-pack', icon: icon, class: 'text-with-image__icon' %}
        {%- endif -%}
        {%- if caption != blank -%}
          <div class='content-text__caption caption'>
            {{ caption }}
          </div>
        {%- endif -%}
        {%- if title != blank -%}
          <h5 class='{{ heading_size }} section-header__heading'>
            {{ title }}
          </h5>
        {%- endif -%}
        {%- if text != blank -%}
          <div class='rte {{ body_size }} text subtext__text body-font-weight-from-global-settings section-header__description'>
            {{ text }}
          </div>
        {%- endif -%}
        {%- if link_text != blank -%}
        {% if btn_style == 'link' -%}
          <a
            class='buttonlink link section-header__cta'
            href='{% if link_url != blank %}{{ link_url }}{% else %}#{% endif %}'
            aria-label='{% if link_text != blank %}{{ link_text }}{% elsif link_url.title != blank %}{{ link_url.title }}{% else %}#{% endif %}'
          >
            <span class='link__text'>{{ link_text }}</span>
            {%- render 'icon', icon_name: 'link-chevron', class: 'link__chevron' -%}
          </a>
        {%- else -%}
          <a
            class='btn btn--{{ btn_style }} text--with-image__btn icon-text-button section-header__cta'
            href='{% if link_url != blank %}{{ link_url }}{% else %}#{% endif %}'
            aria-label='{% if link_text != blank %}{{ link_text }}{% elsif link_url.title != blank %}{{ link_url.title }}{% else %}#{% endif %}'
          >
            {{- link_text -}}
          </a>
        {%- endif -%}
      {%- endif -%}
    </div>
    {%- endif -%}
    <!-- end text part -->

    <!-- images part -->
    <div class="side-imagespart">
        {%- for block in section.blocks -%}
          {%- if block.settings.image_small != blank -%}
            <div class="image-subtext-wrap" data-aos="fade-up" 
              {% if forloop.index == 1 %} data-aos-delay="200" {% endif %}
              {% if forloop.index == 2 %} data-aos-delay="400" {% endif %}
              {% if forloop.index == 3 %} data-aos-delay="600" {% endif %}>
                <div class="image-wrapper__info">
                  <img src="{{ block.settings.image_small | img_url:'master' }}">
                </div>
                <div class="text-wrapper__info">
                  <p class="heading-for-image" style="color:{{block.settings.image_heading-color}};font-size:{{block.settings.image_heading_font}}px;">
                    {{block.settings.image_heading}}
                  </p>
                  <div class="subheading-for-image">
                    {{block.settings.image_richtext}}
                  </div>
                </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
    </div>
    <!-- end images part -->
</div>






{% schema %}
{
  "name": "Text with Image",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "container-background",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color"
    },
    {
      "type": "color",
      "id": "buton_bg_color",
      "label": "Button Background Color"
    },
    {
      "type": "header",
      "content": "Side Text"
    },
    {
      "type": "richtext",
      "id": "heading",
      "default": "<p>Text</p>",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "texts",
      "default": "<p>Tell customers about your ingredients.</p>",
      "label": "Sub Heading"
    },
    {
      "type": "text",
      "id": "text_link",
      "default": "Link label",
      "label": "Button"
    },
    {
      "type": "url",
      "id": "url_link",
      "label": "Button URL"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "solid",
          "label": "t:sections.split_image_banner.label_for_solid_option_in_button_style_setting"
        },
        {
          "value": "outline",
          "label": "t:sections.split_image_banner.label_for_outline_option_in_button_style_setting"
        },
        {
          "value": "link",
          "label": "t:sections.split_image_banner.label_for_link_option_in_button_style_setting"
        }
      ],
      "default": "solid",
      "label": "t:sections.split_image_banner.label_for_button_style_setting"
    }
  ],
  "blocks": [
    {
        "name":"images",
        "type":"image",
        "settings":[
            {
                "type": "image_picker",
                "id":"image_small",
                "label": "Image"    
            },
            {
              "type": "richtext",
              "id": "image_richtext",
              "default": "<p>Description</p>",
              "label": "Sub Heading"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Text with Image"
    }
  ]
}
{% endschema %}
