{{ 'section-ticker.css' | asset_url | stylesheet_tag }}

{%- capture section_styles -%}
{%- if section.settings.background != 'hide' -%}
    {%- liquid
        capture color
            if section.settings.background == 'color'
                echo section.settings.color_background
            else
                echo section.settings.gradient
            endif
        endcapture
    -%}
    {%- if color != "rgba(0,0,0,0)" and color != blank -%}
        #ticker-{{ section.id }}{
            --color-section-background: {{ color }};
        }
    {%- endif -%}
    {%- if section.settings.remove_bottom_spacing -%}
        #ticker-{{ section.id }}.section-background,
        #ticker-{{ section.id }} .section-background{
            padding-bottom: 0;
        }
    {%- endif -%}
{%- endif -%}
{%- if section.settings.color_svg != "rgba(0,0,0,0)" -%}
    #ticker-{{ section.id }} .ticker__icon svg path{
        fill: {{ section.settings.color_svg }};
    }
{%- endif -%}
{%- if section.settings.color_text != "rgba(0,0,0,0)" -%}
    #ticker-{{ section.id }} p{
        color:{{section.settings.color_text}};
    }
    {%- endif -%}
{%- endcapture -%}
{%- if section_styles != blank -%}
    <style>{{ section_styles }}</style>
{%- endif -%}

{%- if section.settings.url != blank -%}
    {%- assign html_tag_open = '<a' | append: ' href="' | append: section.settings.url | append:'"' -%}
    {%- assign html_tag_close = '</a>' -%}
{%- else -%}
    {%- assign html_tag_open = '<div' -%}
    {%- assign html_tag_close = '</div>' -%}
{%- endif -%}

{% style %}
    .section-background{
        background: {{ section.settings.gradient }};
        color: {{ section.settings.color_text }};
    }
    {% if section.settings.background == 'color' %}
        .section-background{
            background: {{ section.settings.color_background }};           
        }
    {% endif %}
{% endstyle %}


    {{ html_tag_open }} id="ticker-{{ section.id }}" class="top-spacing-{{ section.settings.top_spacing }}{% if section.settings.background != 'hide' %} section-background section-background--{{ section.settings.background_spacing }}{% endif %}"
     data-section-name="ticker">  
    {%- capture content -%}
        {%- if section.settings.show_icon == 'image' and section.settings.image != blank -%}
            <div class="ticker__icon">
                {%- assign image = section.settings.image -%}
                {%- assign imagesize = section.settings.image.width | append: 'x' -%}
                {%- capture srcset -%}{{ section.settings.image | img_url: imagesize }} 1x, {{ section.settings.image | img_url: imagesize, scale: 2 }} 2x{%- endcapture -%}
                {{
                image
                | image_url: width: image.width
                | image_tag:
                    loading: 'lazy',
                    width: image.width,
                    height: image.height,
                    srcset: srcset
                }}
            </div>
        {% comment %} {%- elsif section.settings.show_icon == 'svg' and section.settings.icon_name != blank -%}
            <div class="ticker__icon svg-icon--small">
                {%- render 'icons-list' icon_name: section.settings.icon_name -%}
            </div> {% endcomment %}
        {%- endif -%}
        <p>{{- section.settings.text | replace:'<p>', '' | replace:'</p>', '' -}}</p>
    {%- endcapture -%}
    
    
    <div class="{% if section.settings.show_on_mobile == 'mobile_only' %}show-on--mobile{%else%}hidden{% endif %}">
        <ticker-section class="ticker {{ section.settings.text_size }}" style="--ticker-delay:{{ section.settings.ticker_time }}s">
            <div class="ticker__container {{ section.settings.direction }}">
                {{ content }}
            </div>
        </ticker-section>
        <noscript>
            <div class="ticker {{ section.settings.text_size }}" style="--ticker-delay:{{ section.settings.ticker_time }}s">
                {%- for i in (1..9) -%}
                    <div class="ticker__container ticker--animation {{ section.settings.direction }}">
                        {{ content }}
                    </div>
                {%- endfor -%}
            </div>
        </noscript>
    </div>

    <div class="{% if section.settings.show_on_mobile != 'mobile_only' %}{%else%}desktop_mobile{% endif %}">
        <ticker-section class="{% if section.settings.show_on_mobile != 'mobile_only' %}ticker {%else%}{% endif %}{{ section.settings.text_size }}" style="--ticker-delay:{{ section.settings.ticker_time }}s">
            <div class="{% if section.settings.show_on_mobile != 'mobile_only' %}ticker__container {%else%}{% endif %}{{ section.settings.direction }}">
                {{ content }}
            </div>
        </ticker-section>
        <noscript>
            <div class="ticker {{ section.settings.text_size }}" style="--ticker-delay:{{ section.settings.ticker_time }}s">
                {%- for i in (1..9) -%}
                    <div class="ticker__container ticker--animation {{ section.settings.direction }}">
                        {{ content }}
                    </div>
                {%- endfor -%}
            </div>
        </noscript>
    </div>

    {{ html_tag_close }}

<script>
    class tickerHandler extends HTMLElement {
        constructor() {
            super();
            this.width = 0;
            this.ticker = this.querySelector('.ticker__container');
            Shopify.designMode ? setTimeout(this.resizeHandler.bind(this), 100) : this.resizeHandler();
            window.addEventListener("resize", this.resizeHandler.bind(this), false);
        }
        resizeHandler(){
            if(this.width == window.innerWidth) return;
                this.width = window.innerWidth;
                this.ticker.classList.remove('ticker--animation');
                var boxes = this.querySelectorAll('.ticker--clone');
                if(boxes.length){
                    boxes.forEach(e => e.remove());
                }
                var length = window.innerWidth / this.ticker.offsetWidth,
                clone = false;
                length = length==Infinity?5:length;
                for(var i=0; i < length; i++){
                    clone = this.ticker.cloneNode(true);
                    clone.classList.add('ticker--clone');
                    clone.classList.add('ticker--animation');
                    this.append(clone);
                }
            this.ticker.classList.add('ticker--animation');
        }
    }
    customElements.define('ticker-section', tickerHandler);
</script>

{% schema %}
    {
        "name": "ticker marquee",
        "tag": "section",
        "disabled_on": {
            "groups": ["header"]
        },
        "settings": [
            {
                "type": "header",
                "content": "LAYOUT"
            },
            {
                "type": "select",
                "id": "top_spacing",
                "options": [
                {
                    "value": "none",
                    "label": "None"
                },
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "normal",
                    "label": "Normal"
                }
                ],
                "default": "normal",
                "label": "Top spacing"
            },
            {
                "type": "range",
                "id": "ticker_time",
                "min": 3,
                "max": 30,
                "step": 1,
                "unit": "s",
                "label": "Ticker time",
                "default": 10
            },
            {
                "type": "select",
                "id": "direction",
                "options": [
                {
                    "value": "ticker-to-left",
                    "label": "Left"
                },
                {
                    "value": "ticker-to-right",
                    "label": "Right"
                }        
                ],
                "default": "ticker-to-left",
                "label": "Left"
            },      
            {
                "type": "header",
                "content": "TEXT"
            },
            {
                "type": "select",
                "id": "text_size",
                "options": [
                {
                    "value": "ticker-text-2",
                    "label": "Big"
                },
                {
                    "value": "ticker-text-3",
                    "label": "Normal"
                },
                {
                    "value": "ticker-text-4",
                    "label": "Medium"
                },
                {
                    "value": "ticker-text-5",
                    "label": "Small"
                }          
                ],
                "default": "ticker-text-5",
                "label": "Text size"
            },
            {
                "type": "url",
                "id": "url",
                "label": "Link",
                "info": "Leave empty if you will add a link in a text field below"
            },      
            {
                "type": "richtext",
                "id": "text",
                "default": "<p><strong>ANNOUNCEMENT <\/strong>— Use this section to include scrolling announcement text<\/p>",
                "label": "Text"
            },
            {
                "type": "select",
                "id": "show_on_mobile",
                "options": [                
                {
                    "value": "mobile_only",
                    "label": "Mobile only"
                },
                {
                    "value": "both_device",
                    "label": "Desktop and mobile"
                }
                ],
                "default": "mobile_only",
                "label": "Show ticker on devices"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image",
                "info": "96x96px recommended"
            },           
            {
                "type": "header",
                "content": "COLORS"
            },            
            {
                "type": "color",
                "id": "color_text",
                "default": "rgba(0,0,0,0)",
                "label": "Text"
            },
            {
                "type": "header",
                "content": "Background"
            },
            {
                "type": "select",
                "id": "background",
                "options": [
                {
                    "value": "hide",
                    "label": "Hide"
                },
                {
                    "value": "color",
                    "label": "Color"
                },
                {
                    "value": "gradient",
                    "label": "Gradient"
                }
                ],
                "default": "color",
                "label": "BACKGROUND"
            },
            {
                "type": "color",
                "id": "color_background",
                "default": "rgba(0,0,0,0)",
                "label": "Color"
            },
            {
                "type": "color_background",
                "id": "gradient",
                "label": "Gradient"
            },
            {
                "type": "select",
                "id": "background_spacing",
                "options": [
                {
                    "value": "none",
                    "label": "None"
                },
                {
                    "value": "xsmall",
                    "label": "Extra small"
                },          
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "normal",
                    "label": "Normal"
                }
                ],
                "default": "small",
                "label": "Top, bottom spacing"
            },
            {
                "type": "checkbox",
                "id": "remove_bottom_spacing",
                "default": false,
                "label": "Remove bottom spacing"
            }
        ],
        "presets": [
            {
                "name": "ticker marquee"
            }
        ]
    }
{% endschema %}