{{ 'bundle.background-image-with-text.css' | asset_url | stylesheet_tag }}

<section class="bg-img-text bg-image-text--{{section.id}}">
    {% if section.settings.banner_image != blank  or section.settings.banner_image_mob != blank%}
    <div class="bg-img-text__wrapper">
        <div class="bg-img-text__img-content bg-img-text__image-hide-mobile">
            <img class="bg-img-text__img" src="{{section.settings.banner_image| image_url}}" alt="Banner Image" />
        </div>
        <div class="bg-img-text__imgmob-content bg-img-text__image-hide-desktop">
            <img class="bg-img-text__img" src="{{section.settings.banner_image_mob| image_url}}" alt="Banner Image" />
        </div>
        <div class="bg-img-text__text-content">
            <h1 class="bg-img-text__heading bg-img-text__heading--{{section.id}}">{{ section.settings.heading }}</h1>
        </div>
    </div>
    {% endif %}
</section>

<style>
    .bg-img-text__heading--{{section.id}}  {
      color: {{section.settings.text_color}}
    }
</style>

{% schema %}
{
"name": "Bg image with text",
"tag": "section",
"class": "section",
"settings": [
            {
                "type":"image_picker",
                "label":"Banner Image",
                "id":"banner_image"
            },
            {
                "type":"image_picker",
                "label":"Banner Image Mobile",
                "id":"banner_image_mob"
            },
            {
                "type": "richtext",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text Color",
                "default": "#D7D9D2"
            }
],
"presets": [
{
"name": "Background image with text"
}
]
}
{% endschema %}