 {{'bundle.collection-list.css' | asset_url | stylesheet_tag}}
{%- liquid
  assign options = section.settings

  assign desktop_columns = options.desktop_columns
  assign laptop_columns = desktop_columns | minus: 1
  assign tablet_columns = desktop_columns | minus: 2
  assign desktop_carousel_percent_width = 100.0
  assign laptop_carousel_percent_width = 100.0
  assign tablet_carousel_percent_width = 100.0

  assign color_scheme = options.color_scheme
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom
  assign title = options.title
  assign desktop_space_between_cards = options.desktop_space_between_cards
  assign mobile_space_between_cards = options.mobile_space_between_cards
  assign img_ratio = options.img_ratio | default: 'square'
  assign text_style = options.text_style
  assign alignment = options.alignment

  assign placeholder_count = desktop_columns | times: 2
  assign collection_list = options.collection_list | default: (1..placeholder_count)

  assign collection_card_content_align = options.collection_card_content_align
  assign show_product_count = options.show_product_count
  assign section_layout = options.section_layout | default: 'carousel'
  assign show_navigation_on_hover = options.show_navigation_on_hover
  assign container_size = options.container_size
  assign collection_card_heading_size = options.collection_card_heading_size
  assign enable_carousel_on_mobile = options.enable_carousel_on_mobile
  assign heading_size = options.heading_size

  assign enable_autoplay = options.enable_autoplay
  assign autoplay_interval = options.autoplay_interval

  if section_layout == 'carousel-overflow'
    assign half_desktop_slide_width = desktop_carousel_percent_width | divided_by: desktop_columns | times: 0.33
    assign half_laptop_slide_width = laptop_carousel_percent_width | divided_by: laptop_columns | times: 0.33
    assign half_tablet_slide_width = tablet_carousel_percent_width | divided_by: tablet_columns | times: 0.33

    assign desktop_carousel_percent_width = desktop_carousel_percent_width | minus: half_desktop_slide_width
    assign laptop_carousel_percent_width = laptop_carousel_percent_width | minus: half_laptop_slide_width
    assign tablet_carousel_percent_width = tablet_carousel_percent_width | minus: half_tablet_slide_width
  endif
-%}

{% capture css %}
  {% style %}
    .section-{{ section.id }} {
        --gsc-space-between-cards: {{ mobile_space_between_cards }}px;
        --gsc-slide-width: {{ desktop_carousel_percent_width | times: 1.00 | divided_by: desktop_columns }}%;
        --gsc-columns: 1;
        --gsc-section-spacing-top: {{ section_spacing_top }}px;
        --gsc-section-spacing-bottom: {{ section_spacing_bottom }}px;
    }

    @media {% render 'media-queries', screen: 'md' %} {
        .section-{{ section.id }} {
            --gsc-space-between-cards: {{ desktop_space_between_cards }}px;
            --gsc-columns: {{ desktop_columns }};
        }
    }

    {% if desktop_columns == 3 %}
      @media screen and (min-width: 768px) and (max-width: 1016px) {
        .section-{{ section.id }} {
          --gsc-slide-width: {{ laptop_carousel_percent_width | times: 1.00 | divided_by: laptop_columns }}%;
        }
      }
    {% endif %}

    {% if desktop_columns > 3 %}
      @media screen and (min-width: 880px) and (max-width: 1016px) {
        .section-{{ section.id }} {
          --gsc-slide-width: {{ laptop_carousel_percent_width | times: 1.00 | divided_by: laptop_columns }}%;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 880px) {
        .section-{{ section.id }} {
          --gsc-slide-width: {{ tablet_carousel_percent_width | times: 1.00 | divided_by: tablet_columns }}%;
        }
      }
    {% endif %}
    @media (max-width: 540px){
      .section-{{ section.id }} .collection-list__header.mr-8{
        margin-bottom: 8rem;
      }
    }
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

{% capture carousel %}
  <carousel-component
    class='card-carousel collection-list__card-carousel {% if show_navigation_on_hover %}card-carousel--navigation-on-hover{% endif %} {% if section_layout == 'carousel-overflow' %} card-carousel--with-half-next-slide{% endif %} {% if section_layout == 'carousel-overflow' and show_navigation_on_hover %} card-carousel--with-half-next-slide-and-hover-navigation{% endif %}'
    {% if enable_autoplay == true %}
      data-autoplay-interval='{{ autoplay_interval }}'
    {% endif %}
    data-section-id='{{ section.id }}'
    data-aos="fade-up"
    >
    <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--prev'>
      <div class='shape shape--{{ img_ratio }}'>
        <carousel-btn
          class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--prev'
          data-scroll-direction='prev'
          tabindex='0'
        >
          {%- render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon x-flip' -%}
        </carousel-btn>
      </div>
    </div>
    <div
      class='embla card-carousel__viewport {% if section_layout == 'carousel-overflow' %} card-carousel__viewport--overflow{% endif %}'
      data-carousel-viewport
    >
      <div class='card-carousel__container' data-carousel-container>
        {%- for collection in collection_list -%}
          <div class='card-carousel__slide'>
            {% render 'collection-card',
              title: collection.title,
              img: collection.image,
              heading_size: collection_card_heading_size,
              content_align: collection_card_content_align,
              img_ratio: img_ratio,
              collection: collection,
              text_style: text_style,
              show_product_count: show_product_count
            %}
          </div>
        {%- endfor -%}
      </div>
    </div>
    <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--next'>
      <div class='shape shape--{{ img_ratio }}'>
        <carousel-btn
          class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--next'
          data-scroll-direction='next'
          tabindex='0'
        >
          {%- render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon' -%}
        </carousel-btn>
      </div>
    </div>
    {%- if section_layout == 'carousel-overflow' -%}
      <carousel-progress
        class='progress-bar progress-bar--with-background card-carousel__progress-bar'
        data-target='scroll'
      >
        <div class='progress-bar__indicator' data-carousel-progress-indicator></div>
      </carousel-progress>
    {%- endif -%}
  </carousel-component>
{% endcapture %}

{% capture grid %}
  <div class="card-grid collection-list__card-grid" data-aos="fade-up" data-aos-delay="300">
    {%- for collection in collection_list -%}
      {% render 'collection-card',
        title: collection.title,
        img: collection.image,
        heading_size: collection_card_heading_size,
        content_align: collection_card_content_align,
        img_ratio: img_ratio,
        collection: collection,
        text_style: text_style,
        show_product_count: show_product_count
      %}
    {%- endfor -%}
  </div>
{% endcapture %}

<div class='collection-list section collection-list--section section-{{ section.id }} color-{{ color_scheme }} {% if enable_carousel_on_mobile and section_layout contains 'grid' %} collection-list--grid-with-mobile-carousel{% endif %}'>
  <div class='collection-list__container container'>
    {%- if title != blank -%}
      <div class="collection-list__header {% if alignment == 'center' %}collection-list__header--center{% endif %} {% if section.settings.shop_all_title != blank %}mr-8{% endif %}" data-aos="fade-up">
        <h5 class='{{ heading_size }} collection-list__heading'>{{ title }}</h5>
        {% if section.settings.shop_all_title != blank %}
          <a href="{{ section.settings.shop_all_url }}" class="collection-list__link">
            <span>{{ section.settings.shop_all_title}}</span>
            {% render 'icon', icon_name: 'link-chevron', class: 'link__chevron' %}
          </a>
        {% endif %}
      </div>
    {%- endif -%}

    {% if section_layout contains 'carousel' %}
      {{ carousel }}
    {% else %}
      {{ grid }}

      {% if enable_carousel_on_mobile %}
        {{ carousel }}
      {% endif %}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collection_list.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.collection_list.collection_settings_header"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Collection list",
      "label": "t:sections.collection_list.title_label"
    },
    {
      "type": "text",
      "id": "shop_all_title",      
      "label": "Shop all text"
    },
    {
      "type": "url",
      "id": "shop_all_url",      
      "label": "Shop all link"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "t:sections.collection_list.collection_list_label"
    },
    {
      "type": "header",
      "content": "t:sections.collection_list.carousel_settings_header"
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "default": false,
      "label": "t:sections.collection_list.enable_autoplay_label"
    },
    {
      "type": "range",
      "id": "autoplay_interval",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 3,
      "unit": "t:sections.collection_list.autoplay_interval_unit",
      "label": "t:sections.collection_list.autoplay_interval_label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection_list.name"
    }
  ]
}
{% endschema %}
