{{'bundle.featured-collection.css' | asset_url | stylesheet_tag}}

{%- liquid
  assign options = section.settings
  assign color_scheme = options.color_scheme
  assign alignment = options.alignment
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom
  assign collection = options.collection
  assign container_size = options.container_size
  assign enable_carousel_on_mobile = options.enable_carousel_on_mobile
  assign section_layout = options.section_layout | default: 'carousel'
  assign show_navigation_on_hover = options.show_navigation_on_hover
  assign enable_autoplay = options.enable_autoplay
  assign autoplay_interval = options.autoplay_interval
  assign featured_products = options.featured_products
  assign heading_size = options.heading_size

  assign collection_card_count = 1
  assign cards_to_show = options.cards_to_show | default: 16
  assign product_limit = cards_to_show | minus: collection_card_count

  assign color_swatch_variables = settings.color_swatch_variables | newline_to_br | split: '<br />'

  assign title = options.title | default: ' '
  assign img_ratio = options.img_ratio | default: 'square'

  assign desktop_columns = options.desktop_columns
  assign laptop_columns = desktop_columns | minus: 1
  assign tablet_columns = desktop_columns | minus: 2
  assign desktop_carousel_percent_width = 100.0
  assign laptop_carousel_percent_width = 100.0
  assign tablet_carousel_percent_width = 100.0

  if section_layout == 'carousel-overflow'
    assign half_desktop_slide_width = desktop_carousel_percent_width | divided_by: desktop_columns | times: 0.33
    assign half_laptop_slide_width = laptop_carousel_percent_width | divided_by: laptop_columns | times: 0.33
    assign half_tablet_slide_width = tablet_carousel_percent_width | divided_by: tablet_columns | times: 0.33

    assign desktop_carousel_percent_width = desktop_carousel_percent_width | minus: half_desktop_slide_width
    assign laptop_carousel_percent_width = laptop_carousel_percent_width | minus: half_laptop_slide_width
    assign tablet_carousel_percent_width = tablet_carousel_percent_width | minus: half_tablet_slide_width
  endif

  assign desktop_space_between_cards = options.desktop_space_between_cards | times: 0.1
  assign mobile_space_between_cards = options.mobile_space_between_cards | times: 0.1

  assign product_card_align = options.product_card_align
-%}

{% if request.path contains "blogs/news" %}
  {{ 'article.css' | asset_url | stylesheet_tag }}
{% endif %}

{% capture css %}
  {% style %}
    .section-{{section.id}}{
        --gsc-space-between-cards: {{mobile_space_between_cards}}rem;
        --gsc-slide-width: {{ desktop_carousel_percent_width | times: 1.00 | divided_by: desktop_columns }}%;
        --gsc-columns: 2;
        --gsc-section-spacing-top: {{ section_spacing_top }}px;
        --gsc-section-spacing-bottom: {{ section_spacing_bottom }}px;
    }

    @media {% render 'media-queries', screen: 'md' %} {
        .section-{{section.id}}{
            --gsc-space-between-cards: {{desktop_space_between_cards}}rem;
            --gsc-columns: {{desktop_columns}};
        }
    }

    
    {% if desktop_columns == 3 %}
      @media screen and (min-width: 768px) and (max-width: 1016px) {
        .section-{{ section.id }}{
          --gsc-slide-width: {{ laptop_carousel_percent_width | times: 1.00 | divided_by: laptop_columns }}%;
        }
      }
    {% endif %}

    {% if desktop_columns > 3 %}
      @media screen and (min-width: 880px) and (max-width: 1016px) {
        .section-{{ section.id }}{
          --gsc-slide-width: {{ laptop_carousel_percent_width | times: 1.00 | divided_by: laptop_columns }}%;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 880px) {
        .section-{{ section.id }}{
          --gsc-slide-width: {{ tablet_carousel_percent_width | times: 1.00 | divided_by: tablet_columns }}%;
        }
      }
    {% endif %}
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

{% capture section_header %}
  {%- if title != blank -%}
    <div class="collection__header  section-header {% if alignment == 'center' %}collection__header--center{% endif %} {% if section.settings.shop_all_title != blank %}mr-8{% endif %}" data-aos="fade-up">
      <h5 class='section-header__heading  {{ heading_size }}'>{{ title }}</h5>
      {% if section.settings.shop_all_title != blank %}
        <a href="{{ section.settings.shop_all_url | default: collection.url }}" class="section-header__link">
          <span>{{ section.settings.shop_all_title }}</span>
          {% render 'icon', icon_name: 'link-chevron', class: 'link__chevron' %}
        </a>
      {% endif %}
    </div>
  {%- endif -%}
{% endcapture %}

<div class='collection section section-{{ section.id }} color-{{ color_scheme }} {% if enable_carousel_on_mobile and section_layout == 'grid' %} collection--grid-with-mobile-carousel{% endif %}'>
  <div class='collection__container container section-spacing {% if request.path contains "blogs/news" %} container--xsmall pt-0 {% endif %}'>
    {{ section_header }}
    {% if collection != blank or featured_products != blank %}
      {% if section_layout contains 'carousel' %}
        {% render 'featured-collection-carousel',
          featured_collection: collection,
          featured_products: featured_products,
          enable_autoplay: enable_autoplay,
          autoplay_interval: autoplay_interval,
          img_ratio: img_ratio,
          section_layout: section_layout,
          product_limit: product_limit,
          color_swatch_variables: color_swatch_variables,
          product_card_align: product_card_align,
          show_navigation_on_hover: show_navigation_on_hover
        %}
      {% else %}
        {% render 'featured-collection-grid',
          featured_collection: collection,
          featured_products: featured_products,
          enable_autoplay: enable_autoplay,
          autoplay_interval: autoplay_interval,
          img_ratio: img_ratio,
          section_layout: section_layout,
          product_limit: product_limit,
          color_swatch_variables: color_swatch_variables,
          product_card_align: product_card_align,
          enable_carousel_on_mobile: enable_carousel_on_mobile,
          show_navigation_on_hover: show_navigation_on_hover
        %}
      {% endif %}
    {% else %}
      {% assign prepared_collection_placeholder = (1..product_limit) %}

      {% if section_layout contains 'carousel' %}
        {% render 'featured-collection-carousel',
          enable_autoplay: enable_autoplay,
          autoplay_interval: autoplay_interval,
          img_ratio: img_ratio,
          section_layout: section_layout,
          product_limit: product_limit,
          color_swatch_variables: color_swatch_variables,
          product_card_align: product_card_align,
          prepared_collection_placeholder: prepared_collection_placeholder,
          show_navigation_on_hover: show_navigation_on_hover
        %}
      {% else %}
        {% render 'featured-collection-grid',
          enable_autoplay: enable_autoplay,
          autoplay_interval: autoplay_interval,
          img_ratio: img_ratio,
          section_layout: section_layout,
          product_limit: product_limit,
          color_swatch_variables: color_swatch_variables,
          product_card_align: product_card_align,
          enable_carousel_on_mobile: enable_carousel_on_mobile,
          prepared_collection_placeholder: prepared_collection_placeholder,
          show_navigation_on_hover: show_navigation_on_hover
        %}
      {% endif %}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured_collection.name",
  "tag": "section",
  "settings": [

    {
      "type": "header",
      "content": "t:sections.featured_collection.collection_settings_header"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured_collection.title_label"
    },
    {
      "type": "text",
      "id": "shop_all_title",      
      "label": "Shop all text"
    },
    {
      "type": "url",
      "id": "shop_all_url",      
      "label": "Shop all link"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured_collection.collection_label"
    },
    {
      "type": "product_list",
      "id": "featured_products",
      "label": "t:sections.featured_collection.product_list.label",
      "info": "t:sections.featured_collection.product_list.info"
    },
    {
      "type": "header",
      "content": "t:sections.featured_collection.cards_settings_header"
    },
    {
      "type": "header",
      "content": "t:sections.featured_collection.carousel_settings_header"
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "default": false,
      "label": "t:sections.featured_collection.enable_autoplay_label"
    },
    {
      "type": "range",
      "id": "autoplay_interval",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 3,
      "unit": "t:sections.featured_collection.autoplay_interval_unit",
      "label": "t:sections.featured_collection.autoplay_interval_label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_collection.name"
    }
  ]
}
{% endschema %}
