{{ 'product-benefits.css' | asset_url | stylesheet_tag }}
{{ 'bundle.product-benefits.css' | asset_url | stylesheet_tag }}

{%- liquid
    assign powerfulBenefits_ExtraInfo = product.metafields.custom.powerful_benefits_extra_info.value
-%}
{% assign prodBenefits = product.metafields.custom.product_benefits.value %}
{% capture imageFromLoop %}
    {% for item in prodBenefits %}
        {% if item.heading == "false" %}
            <img src="{{ item.images | img_url: 'master'}}" alt="">
        {% endif %}
    {% endfor %}
{% endcapture %}

{% assign dividedByNumber = prodBenefits.count | modulo: 2 %}
{% if  dividedByNumber == 0 %}
    {% assign leftCounter = prodBenefits.count | divided_by: 2 %}
    {% assign rightCounter = prodBenefits.count | minus: leftCounter %}
{% else %}
    {% assign leftCounter = prodBenefits.count | divided_by: 2  | plus: 1 %}
    {% assign rightCounter = prodBenefits.count | minus: leftCounter | plus: 1 %}
{% endif %}

{% style %}
    {% if prodBenefits.count %}
        .main_productBenefits_class{
            display: block;
        }
    {% else %}
        .main_productBenefits_class{
            display: none;
        }
    {% endif %}
{% endstyle %}

{% if powerfulBenefits_ExtraInfo.show_section %}
    <div class="pb_container" data-aos="fade-up">
        <div class="product-benefits__wrapper" data-aos="fade-up"> 
        <div class="product-benefits__header-wrapper">
            <div class="product-benefits__header">
                <p class="product-benefits__heading">{{ section.settings.heading }}</p>
                <p class="product-benefits__subheading">
                    {{ powerfulBenefits_ExtraInfo.subheading }}
                </p>
            </div>
         </div>
        </div>
        <div class="product-benefits__main-wrapper">
            <div class="product-benefits__content-wrapper">
                <div class="product-benefits__featured-image">
                    <div class="product-benefits__featured-image-wrapper product-benefits__featured-image-wrapper--desktop">
                    <img src="{{ powerfulBenefits_ExtraInfo.featured_image_desktop | img_url: 'master'}}" alt="">
                    </div>
                    <div class="product-benefits__featured-image-wrapper product-benefits__featured-image-wrapper--mobile">
                        <img src="{{ powerfulBenefits_ExtraInfo.featured_image | default: powerfulBenefits_ExtraInfo.featured_image_desktop | img_url: 'master' }}" alt="">
                    </div>
                </div>
                <div class="product-benefits__content" data-aos="fade-up">
                    <div class="product-benefits__items">
                    <div class="pb_left pb_styling">
                        {% for block in prodBenefits limit: leftCounter %}
                            {% unless block.heading == "false" %}
                                <div class="product-benefits__text-icon" style="{% if block.description == blank %} min-height: fit-content; {% endif %}">
                                        {% if block.images != blank %}
                                            <img src="{{ block.images | img_url: 'master'}}" alt="" class="product-benefits__text-icon-image">
                                        {% endif %}
                                    <span class="pb_content_left pb_content_inner">
                                        <h6 class="product-benefits__text-icon-head accordion--wrappering">{{ block.heading }}</h6>
                                        <p class="product-benefits__text-description">{{ block.description }}</p>
                                    </span>
                                </div>
                                {% if block.show_horizontal_line %}
                                    <hr>
                                {% endif %}
                            {% endunless%}
                        {% endfor %}
                    </div>
                    <div class="pb_right pb_styling">
                        {% for block in prodBenefits offset: rightCounter %}
                            {% unless block.heading == "false" %}
                                <div class="product-benefits__text-icon" style="{% if block.description == blank %} min-height: fit-content; {% endif %}">
                                    {% if block.images != blank %}
                                        <img src="{{ block.images | img_url: 'master'}}" alt="" class="product-benefits__text-icon-image">
                                    {% endif %}
                                <span class="pb_content_left pb_content_inner">
                                    <h6 class="product-benefits__text-icon-head accordion--wrappering">{{ block.heading }}</h6>
                                    <p class="product-benefits__text-description">{{ block.description }}</p>
                                </span>
                            </div>
                                {% if block.show_horizontal_line %}
                                    <hr>
                                {% endif %}
                            {% endunless %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endif %}

{% schema %}
    {
        "name": "Product Benefits",
        "class": "main_productBenefits_class",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            }
        ],
        "presets": [
            {
                "name": "Product Benefits"
            }
        ]
    }
{% endschema %}