{%- liquid
  assign options = section.settings
  assign enable_autoplay = options.enable_autoplay
  assign img_ratio = options.img_ratio
  assign autoplay_interval = options.autoplay_interval
  assign title = options.title
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom
  assign color_scheme = options.color_scheme
  assign desktop_space_between_cards = options.desktop_space_between_cards | times: 0.1
  assign mobile_space_between_cards = options.mobile_space_between_cards | times: 0.1
  assign container_size = options.container_size
  assign alignment = options.alignment
  assign section_layout = options.section_layout
  assign show_navigation_on_hover = options.show_navigation_on_hover
  assign featured_collection = options.featured_collection
  assign featured_products = options.featured_products
  assign product_recommendations_type = options.product_recommendations_type
  assign enable_carousel_on_mobile = options.enable_carousel_on_mobile
  assign cards_to_show = options.cards_to_show
  assign heading_size = options.heading_size

  assign color_swatch_variables = settings.color_swatch_variables | newline_to_br | split: '<br />'

  assign desktop_columns = options.desktop_columns
  assign laptop_columns = desktop_columns | minus: 1
  assign tablet_columns = desktop_columns | minus: 2
  assign desktop_carousel_percent_width = 100.0
  assign laptop_carousel_percent_width = 100.0
  assign tablet_carousel_percent_width = 100.0

  if section_layout == 'carousel-overflow'
    assign half_desktop_slide_width = desktop_carousel_percent_width | divided_by: desktop_columns | times: 0.33
    assign half_laptop_slide_width = laptop_carousel_percent_width | divided_by: laptop_columns | times: 0.33
    assign half_tablet_slide_width = tablet_carousel_percent_width | divided_by: tablet_columns | times: 0.33

    assign desktop_carousel_percent_width = desktop_carousel_percent_width | minus: half_desktop_slide_width
    assign laptop_carousel_percent_width = laptop_carousel_percent_width | minus: half_laptop_slide_width
    assign tablet_carousel_percent_width = tablet_carousel_percent_width | minus: half_tablet_slide_width
  endif

  assign product_card_align = options.product_card_align

  assign product_card_with_bottom_spacing = false
  if settings.edge_rounding_degree != 'none'
    assign product_card_with_bottom_spacing = true
  endif
-%}

{% capture css %}
  {% style %}
  @media screen and (max-width: 480px){
    .break_text_intoTwoLines_mobile{
      max-width: 243px;
      text-align: center;
    }
  }
    .section-{{ section.id }} {
        --gsc-space-between-cards: {{ mobile_space_between_cards }}rem;
        --gsc-slide-width: {{ desktop_carousel_percent_width | times: 1.00 | divided_by: desktop_columns }}%;
        --gsc-columns: 1;
        --gsc-section-spacing-top: {{ section_spacing_top }}px;
        --gsc-section-spacing-bottom: {{ section_spacing_bottom }}px;
    }

    @media {% render 'media-queries', screen: 'md' %} {
        .section-{{ section.id }}{
            --gsc-space-between-cards: {{ desktop_space_between_cards }}rem;
            --gsc-columns: {{ desktop_columns }};
        }
    }

    {% if desktop_columns == 3 %}
      @media screen and (min-width: 768px) and (max-width: 1016px) {
        .section-{{ section.id }} {
          --gsc-slide-width: {{ laptop_carousel_percent_width | times: 1.00 | divided_by: laptop_columns }}%;
        }
      }
    {% endif %}

    {% if desktop_columns > 3 %}
      @media screen and (min-width: 880px) and (max-width: 1016px) {
        .section-{{ section.id }} {
          --gsc-slide-width: {{ laptop_carousel_percent_width | times: 1.00 | divided_by: laptop_columns }}%;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 880px) {
        .section-{{ section.id }} {
          --gsc-slide-width: {{ tablet_carousel_percent_width | times: 1.00 | divided_by: tablet_columns }}%;
        }
      }
    {% endif %}
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

{% capture carousel %}
  {%- if product_recommendations_type == 'auto' -%}
    <carousel-component
      class='card-carousel product-recommendations__card-carousel {% if show_navigation_on_hover %}card-carousel--navigation-on-hover{% endif %} {% if section_layout == 'carousel-overflow' %} card-carousel--with-half-next-slide{% endif %} {% if section_layout == 'carousel-overflow' and show_navigation_on_hover %} card-carousel--with-half-next-slide-and-hover-navigation{% endif %}'
      data-section-id='{{ section.id }}'
      {% if enable_autoplay == true %}
        data-autoplay-interval='{{ autoplay_interval }}'
      {% endif %}
      >
      <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--prev'>
        <div class='shape shape--{{ img_ratio }}'>
          <carousel-btn
            class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--prev'
            data-scroll-direction='prev'
            tabindex='0'
          >
            {% render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon x-flip' %}
          </carousel-btn>
        </div>
      </div>
      <div
        class='card-carousel__viewport embla {% if section_layout == 'carousel-overflow' %} card-carousel__viewport--overflow{% endif %}'
        data-carousel-viewport
      >
        <div class='card-carousel__container' data-carousel-container>
          {%- for recommendation in recommendations.products -%}
            <div class='card-carousel__slide'>
              {% render 'product-card',
                product: recommendation,
                show_color_swatches_on_hover: settings.show_product_color_swatches_on_hover,
                color_swatch_variables: color_swatch_variables,
                img_ratio: img_ratio,
                product_card_align: product_card_align,
                with_bottom_spacing: product_card_with_bottom_spacing
              %}
            </div>
          {%- endfor -%}
        </div>
      </div>
      <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--next'>
        <div class='shape shape--{{ img_ratio }}'>
          <carousel-btn
            class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--next'
            data-scroll-direction='next'
            tabindex='0'
          >
            {% render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon' %}
          </carousel-btn>
        </div>
      </div>
      {%- if section_layout == 'carousel-overflow' -%}
        <carousel-progress
          class='progress-bar progress-bar--with-background card-carousel__progress-bar'
          data-target='scroll'
        >
          <div class='progress-bar__indicator' data-carousel-progress-indicator></div>
        </carousel-progress>
      {%- endif -%}
    </carousel-component>
  {%- else -%}
    <carousel-component
      class='card-carousel product-recommendations__card-carousel {% if show_navigation_on_hover %}card-carousel--navigation-on-hover{% endif %} {% if section_layout == 'carousel-overflow' %} card-carousel--with-half-next-slide{% endif %} {% if section_layout == 'carousel-overflow' and show_navigation_on_hover %} card-carousel--with-half-next-slide-and-hover-navigation{% endif %}'
      data-section-id='{{ section.id }}'
      {% if enable_autoplay == true %}
        data-autoplay-interval='{{ autoplay_interval }}'
      {% endif %}
    >
      <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--prev'>
        <div class='shape shape--{{ img_ratio }}'>
          <carousel-btn
            class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--prev'
            data-scroll-direction='prev'
            tabindex='0'
          >
            {% render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon x-flip' %}
          </carousel-btn>
        </div>
      </div>
      <div
        class='card-carousel__viewport embla {% if section_layout == 'carousel-overflow' %} card-carousel__viewport--overflow{% endif %}'
        data-carousel-viewport
      >
        <div class='card-carousel__container' data-carousel-container>
          {%- if featured_products != blank -%}
            {%- for product in featured_products limit: cards_to_show -%}
              <div class='card-carousel__slide'>
                {% render 'product-card',
                  product: product,
                  show_color_swatches_on_hover: settings.show_product_color_swatches_on_hover,
                  color_swatch_variables: color_swatch_variables,
                  img_ratio: img_ratio,
                  product_card_align: product_card_align,
                  with_bottom_spacing: product_card_with_bottom_spacing
                %}
              </div>
            {%- endfor -%}
          {%- else -%}
            {%- for product in featured_collection.products limit: cards_to_show -%}
              <div class='card-carousel__slide'>
                {% render 'product-card',
                  product: product,
                  show_color_swatches_on_hover: settings.show_product_color_swatches_on_hover,
                  color_swatch_variables: color_swatch_variables,
                  img_ratio: img_ratio,
                  product_card_align: product_card_align,
                  with_bottom_spacing: product_card_with_bottom_spacing
                %}
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>
      <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--next'>
        <div class='shape shape--{{ img_ratio }}'>
          <carousel-btn
            class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--next'
            data-scroll-direction='next'
            tabindex='0'
          >
            {% render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon' %}
          </carousel-btn>
        </div>
      </div>
      {%- if section_layout == 'carousel-overflow' -%}
        <carousel-progress
          class='progress-bar progress-bar--with-background card-carousel__progress-bar'
          data-target='scroll'
        >
          <div class='progress-bar__indicator' data-carousel-progress-indicator></div>
        </carousel-progress>
      {%- endif -%}
    </carousel-component>
  {%- endif -%}
{% endcapture %}

{%- if product_recommendations_type == 'auto' -%}
  <product-recommendations
    class='product-recommendations section section-{{ section.id }} color-{{ color_scheme }} {% if enable_carousel_on_mobile and section_layout == 'grid' %} product-recommendations--grid-with-mobile-carousel{% endif %}'
    data-url='{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ cards_to_show }}'
  >
    {%- if recommendations.performed and recommendations.products_count > 0 -%}
      <div class='product-recommendations__container container container--{{ container_size }} section-spacing'>
        {%- if title != blank -%}
          <div class='product-recommendations__header {% if alignment == 'center' %}product-recommendations__header--center{% endif %}'>
            <h5 class='product-recommendations__title {{ heading_size }} break_text_intoTwoLines_mobile'>{{ title }}</h5>
          </div>
        {%- endif -%}

        {% if section_layout contains 'carousel' %}
          {{ carousel }}
        {% else %}
          <div class='card-grid product-recommendations__card-grid'>
            {%- for recommendation in recommendations.products limit: cards_to_show -%}
              {% render 'product-card',
                product: recommendation,
                show_color_swatches_on_hover: settings.show_product_color_swatches_on_hover,
                color_swatch_variables: color_swatch_variables,
                img_ratio: img_ratio,
                product_card_align: product_card_align,
                with_bottom_spacing: product_card_with_bottom_spacing
              %}
            {%- endfor -%}
          </div>
          {% if enable_carousel_on_mobile %}
            {{ carousel }}
          {% endif %}
        {% endif %}
      </div>
    {%- endif -%}
  </product-recommendations>
{%- else -%}
  <div class='product-recommendations section section-{{ section.id }} color-{{ color_scheme }} {% if enable_carousel_on_mobile %} product-recommendations--grid-with-mobile-carousel{% endif %}'>
    <div class='product-recommendations__container container container--{{ container_size }} section-spacing'>
      {%- if title != blank -%}
        <div class='product-recommendations__header {% if alignment == 'center' %}product-recommendations__header--center{% endif %}'>
          <h5 class='product-recommendations__title {{ heading_size }}'>{{ title }}</h5>
        </div>
      {%- endif -%}

      {% if section_layout contains 'carousel' %}
        {{ carousel }}
      {% else %}
        <div class='card-grid product-recommendations__card-grid'>
          {%- if featured_products != blank -%}
            {%- for product in featured_products limit: cards_to_show -%}
              {% render 'product-card',
                product: product,
                show_color_swatches_on_hover: settings.show_product_color_swatches_on_hover,
                color_swatch_variables: color_swatch_variables,
                img_ratio: img_ratio,
                product_card_align: product_card_align,
                with_bottom_spacing: product_card_with_bottom_spacing
              %}
            {%- endfor -%}
          {%- else -%}
            {%- for product in featured_collection.products limit: cards_to_show -%}
              {% render 'product-card',
                product: product,
                show_color_swatches_on_hover: settings.show_product_color_swatches_on_hover,
                color_swatch_variables: color_swatch_variables,
                img_ratio: img_ratio,
                product_card_align: product_card_align,
                with_bottom_spacing: product_card_with_bottom_spacing
              %}
            {%- endfor -%}
          {%- endif -%}
        </div>
        {% if enable_carousel_on_mobile %}
          {{ carousel }}
        {% endif %}
      {% endif %}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.product_recommendations.name",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.color_scheme_option_default_label"
        },
        {
          "value": "primary",
          "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
        },
        {
          "value": "secondary",
          "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
        },
        {
          "value": "custom-1",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
        },
        {
          "value": "custom-2",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
        },
        {
          "value": "custom-3",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.color_scheme_label",
      "info": "t:sections.general_section_settings.color_scheme_tip"
    },
    {
      "type": "select",
      "id": "container_size",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.general_section_settings.container_size.page_width_option"
        },
        {
          "value": "large",
          "label": "t:sections.general_section_settings.container_size.large_width_option"
        },
        {
          "value": "medium",
          "label": "t:sections.general_section_settings.container_size.medium_width_option"
        },
        {
          "value": "small",
          "label": "t:sections.general_section_settings.container_size.small_width_option"
        }
      ],
      "default": "page-width",
      "label": "t:sections.general_section_settings.container_size.label"
    },
    {
      "type": "range",
      "id": "section_spacing_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 48,
      "unit": "t:sections.general_section_settings.section_spacing_top.unit",
      "label": "t:sections.general_section_settings.section_spacing_top.label"
    },
    {
      "type": "range",
      "id": "section_spacing_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 48,
      "unit": "t:sections.general_section_settings.section_spacing_bottom.unit",
      "label": "t:sections.general_section_settings.section_spacing_bottom.label"
    },
    {
      "type": "select",
      "id": "section_layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.product_recommendations.section_layout.grid_label"
        },
        {
          "value": "carousel",
          "label": "t:sections.product_recommendations.section_layout.carousel_label"
        },
        {
          "value": "carousel-overflow",
          "label": "t:sections.product_recommendations.section_layout.carousel_overflow_label"
        }
      ],
      "default": "carousel",
      "label": "t:sections.product_recommendations.section_layout.label"
    },
    {
      "type": "header",
      "content": "t:sections.product_recommendations.recommendations_settings_header"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.product_recommendations.title_label",
      "default": "You may also like"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.general_section_settings.label_for_heading_size_setting",
      "options": [
        {
          "value": "h0",
          "label": "t:sections.general_section_settings.heading_size_0_option"
        },
        {
          "value": "h1",
          "label": "t:sections.general_section_settings.heading_size_1_option"
        },
        {
          "value": "h2",
          "label": "t:sections.general_section_settings.heading_size_2_option"
        },
        {
          "value": "h3",
          "label": "t:sections.general_section_settings.heading_size_3_option"
        },
        {
          "value": "h4",
          "label": "t:sections.general_section_settings.heading_size_4_option"
        },
        {
          "value": "h5",
          "label": "t:sections.general_section_settings.heading_size_5_option"
        },
        {
          "value": "h6",
          "label": "t:sections.general_section_settings.heading_size_6_option"
        },
        {
          "value": "h7",
          "label": "t:sections.general_section_settings.heading_size_7_option"
        }
      ],
      "default": "h5"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:sections.general_section_settings.heading_alignment_label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.general_section_settings.alignment_option_left_label"
        },
        {
          "value": "center",
          "label": "t:sections.general_section_settings.alignment_option_center_label"
        }
      ],
      "default": "center"
    },
    {
      "type": "radio",
      "id": "product_recommendations_type",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.product_recommendations.product_recommendations_type_auto_option_label"
        },
        {
          "value": "manually",
          "label": "t:sections.product_recommendations.product_recommendations_type_manually_option_label"
        }
      ],
      "default": "auto",
      "label": "t:sections.product_recommendations.product_recommendations_type_label",
      "info": "t:sections.product_recommendations.product_recommendations_type_info"
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "t:sections.product_recommendations.featured_collection_label"
    },
    {
      "type": "product_list",
      "id": "featured_products",
      "label": "t:sections.product_recommendations.featured_products_label",
      "info": "t:sections.product_recommendations.featured_products_info"
    },
    {
      "type": "header",
      "content": "t:sections.product_recommendations.cards_settings_header"
    },
    {
      "type": "select",
      "id": "img_ratio",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.img_ratio_option_default_label"
        },
        {
          "value": "nature",
          "label": "t:sections.general_section_settings.img_ratio_option_nature_label"
        },
        {
          "value": "square",
          "label": "t:sections.general_section_settings.img_ratio_option_square_label"
        },
        {
          "value": "portrait",
          "label": "t:sections.general_section_settings.img_ratio_option_portrait_label"
        },
        {
          "value": "portrait-xl",
          "label": "t:sections.general_section_settings.img_ratio_option_portrait_xl_label"
        },
        {
          "value": "landscape",
          "label": "t:sections.general_section_settings.img_ratio_option_landscape_label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.general_section_settings.img_ratio_label"
    },
    {
      "type": "select",
      "id": "product_card_align",
      "label": "t:sections.general_section_settings.content_alignment_label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.general_section_settings.alignment_option_left_label"
        },
        {
          "value": "center",
          "label": "t:sections.general_section_settings.alignment_option_center_label"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "cards_to_show",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 18,
      "label": "t:sections.product_recommendations.cards_to_show.label"
    },
    {
      "type": "range",
      "id": "desktop_columns",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.product_recommendations.desktop_columns_label"
    },
    {
      "type": "range",
      "id": "desktop_space_between_cards",
      "min": 0,
      "max": 32,
      "step": 1,
      "default": 12,
      "unit": "t:sections.product_recommendations.desktop_space_between_cards_unit",
      "label": "t:sections.product_recommendations.desktop_space_between_cards_label"
    },
    {
      "type": "range",
      "id": "mobile_space_between_cards",
      "min": 0,
      "max": 32,
      "step": 1,
      "default": 16,
      "unit": "t:sections.product_recommendations.mobile_space_between_cards_unit",
      "label": "t:sections.product_recommendations.mobile_space_between_cards_label"
    },
    {
      "type": "checkbox",
      "id": "enable_carousel_on_mobile",
      "default": false,
      "label": "t:sections.product_recommendations.enable_carousel_on_mobile.label",
      "info": "t:sections.product_recommendations.enable_carousel_on_mobile.info"
    },
    {
      "type": "header",
      "content": "t:sections.product_recommendations.carousel_settings_header"
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "default": false,
      "label": "t:sections.product_recommendations.enable_autoplay_label"
    },
    {
      "type": "range",
      "id": "autoplay_interval",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 3,
      "unit": "t:sections.product_recommendations.autoplay_interval_unit",
      "label": "t:sections.product_recommendations.autoplay_interval_label"
    },
    {
      "type": "checkbox",
      "id": "show_navigation_on_hover",
      "default": true,
      "label": "t:sections.product_recommendations.show_navigation_on_hover_label"
    }
  ]
}
{% endschema %}
