{{ 'bundle.slideshow.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign blocks = section.blocks
  assign options = section.settings

  assign color_scheme = options.color_scheme
  assign mobile_height = options.mobile_height
  assign desktop_height = options.desktop_height
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom
  assign container_size = options.container_size

  assign enable_background_around_container = options.enable_background_around_container

  assign transition_style = options.transition_style
  assign autoplay_interval = options.autoplay_interval
  assign arrows_style = options.arrows_style

  assign enable_autoplay = options.enable_autoplay
  assign enable_circle_navigation = options.enable_circle_navigation
  assign enable_arrows_navigation = options.enable_arrows_navigation
  assign show_arrows_on_hover = options.show_arrows_on_hover

-%}


{% capture css %}
  {% style %}
    .section-{{section.id}} {
        --gsc-height: {{mobile_height}}px;
        --gsc-section-spacing-top: {{ section_spacing_top }}px;
        --gsc-section-spacing-bottom: {{ section_spacing_bottom }}px;
    }

    @media {% render 'media-queries', screen: 'md' %} {
        .section-{{section.id}} {
            --gsc-content-align: center;
            --gsc-height: {{desktop_height}}px;
        }
       
    }

    {% for block in section.blocks %}
        {% assign options = block.settings %}

        {% if block.type == 'image-banner' %}
          .block-{{ block.id }}{
              --gsc-overlay-opacity: {{ options.mobile_overlay_opacity | times: 0.01 }};
              --gsc-content-spacing: {{ options.content_spacing | divided_by: 10.0 }}rem;
              --gsc-content-align: {{ options.mobile_content_align }};
              --gsc-content-width: {{ options.content_max_width | divided_by: 10.0 }}rem;
          }

          .block-{{ block.id }} .image-banner__content-wrap {
            justify-content: center;
          }
          
          @media(min-width:1024px){
            .image-banner__content span.h1, .image-banner__content span.h2, .image-banner__content span.h3, .image-banner__content span.h4, .image-banner__content span.h5,.image-banner__title,
            .image-banner__content .image-banner__text p, .image-banner__content .image-banner__text, 
            .image-banner__content .image-banner__caption{
              color: {{options.text_color}};
            }

          }

          @media(min-width:768px){
            .block-{{block.id}} .image-banner__btns {
                justify-content: center;
              }
           }

          @media(max-width:1023px){
            .block-{{block.id}}.image-banner .image-banner__container-wrap{
              background-color: {{options.background_color}};
            }
            .image-banner__content span.h1, .image-banner__content span.h2, .image-banner__content span.h3, .image-banner__content span.h4, .image-banner__content span.h5,.image-banner__title,
            .image-banner__content .image-banner__text p, .image-banner__content .image-banner__text, 
            .image-banner__content .image-banner__caption{
              color: {{options.text_color_mobile}};
            }
          }
          
          @media {% render 'media-queries', screen: 'lg' %} {

              .block-{{ block.id }}{
                  --gsc-overlay-opacity: {{ options.desktop_overlay_opacity | times: 0.01 }};
                  --gsc-content-align: {{ options.desktop_content_align }};
                  {% if options.desktop_content_align == "left"%}
                  --gsc-button-align: flex-start;
                  {% elsif  options.desktop_content_align == "right" %}
                  --gsc-button-align: center;
                  {% else %} 
                  --gsc-button-align: flex-end;
                  {% endif %}
              }

              .block-{{ block.id }} .image-banner__content-wrap {
                {{ options.desktop_content_position }}
              }

              .block-{{ block.id }} .image-banner__content {
                text-align: var(--gsc-content-align);
              }


              .block-{{block.id}} .image-banner__btns {
                justify-content: var(--gsc-button-align);
             }
          }
        {% endif %}
    {% endfor %}
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

<div class='section-{{ section.id }} {% if enable_background_around_container %} section  color-{{ color_scheme }} {% endif %}'>
  <div class='section-spacing container container--{{ container_size }} slideshow__outer-container {% if container_size == 'full-screen' %} slideshow__outer-container--full-screen{% endif %} {% if blocks.size > 1 and enable_circle_navigation %} slideshow--with-dots{% else %} slideshow--without-dots{% endif %}'>
    <div class='slideshow {% if show_arrows_on_hover %}slideshow--navigation-on-hover{% endif %} {% unless enable_background_around_container %} color-{{ color_scheme }} {% endunless %}'>
      {%- if section.blocks.size > 0 -%}
        <carousel-component
          class='carousel slideshow__carousel'
          data-animation='{{ transition_style }}'
          {% if transition_style == 'seamless' %}
            data-drag-free='true'
          {% endif %}
          {% if enable_autoplay %}
            data-autoplay-interval='{{ autoplay_interval }}'
          {% endif %}
          data-section-id='{{ section.id }}'
        >
          <div class='carousel__viewport embla slideshow__carousel-viewport' data-carousel-viewport>
            <div class='carousel__container slideshow__carousel-container' data-carousel-container>
              {%- for block in blocks -%}
                {%- case block.type -%}
                  {%- when 'split-image-banner' -%}
                    <div
                      class='carousel__slide block-{{ block.id }} split-image-banner {% if block.settings.image_proportion == 0 or block.settings.image_proportion == 100 %} split-image-banner--with-single-image{% endif %} {% if block.settings.color_scheme == color_scheme %} color-{{ section.settings.color_scheme }}{% else %} color-{{ block.settings.color_scheme }}{% endif %}'
                      block-id='{{ block.id }}'
                      {{ block.shopify_attributes }}
                    >
                      <div class='split-image-banner__container'>
                        {%- if block.settings.btn_text == blank and block.settings.extra_btn_text == blank -%}
                          {%- if block.settings.btn_url.url != blank or block.settings.extra_btn_url.url != blank -%}
                            <a
                              class='image-banner__link'
                              href='{% if block.settings.btn_url.url != blank %}{{ block.settings.btn_url.url }}{% else %}{{ block.settings.extra_btn_url.url }}{% endif %}'
                              aria-label='{% if block.settings.btn_text != blank %}{{ block.settings.btn_text }}{% elsif block.settings.extra_btn_text != blank %}{{ block.settings.extra_btn_text }}{% elsif block.settings.btn_url.title != blank %}{{ block.settings.btn_url.title }}{% elsif block.settings.extra_btn_url.title != blank %}{{ block.settings.extra_btn_url.title }}{% else %}#{% endif %}'
                            ></a>
                          {%- endif -%}
                        {%- endif -%}
                        {%- liquid
                          if block.settings.image_proportion > 0
                            render 'media-with-art-direction', class: 'split-image-banner__media split-image-banner__left-media', with_placeholder: true, desktop_img: block.settings.desktop_left_img, mobile_img: block.settings.mobile_left_img, desktop_video: block.settings.left_video, mobile_video: block.settings.left_video
                          endif
                          render 'split-image-banner-content', heading_size: block.settings.heading_size, sub_heading_size: block.settings.sub_heading_size, body_size: block.settings.body_size, title: block.settings.title, caption: block.settings.caption, text: block.settings.text, btn_text: block.settings.btn_text, btn_url: block.settings.btn_url, extra_btn_text: block.settings.extra_btn_text, extra_btn_url: block.settings.extra_btn_url, btn_style: block.settings.btn_style, extra_btn_style: block.settings.extra_btn_style
                          if block.settings.image_proportion < 100
                            render 'media-with-art-direction', class: 'split-image-banner__media split-image-banner__right-media', with_placeholder: true, desktop_img: block.settings.desktop_right_img, mobile_img: block.settings.mobile_right_img, desktop_video: block.settings.right_video, mobile_video: block.settings.right_video
                          endif
                        -%}
                      </div>
                    </div>
                  {%- when 'image-banner' -%}
                    <div
                      class='carousel__slide block-{{ block.id }} image-banner {% if block.settings.color_scheme == color_scheme %} color-{{ section.settings.color_scheme }}{% else %} color-{{ block.settings.color_scheme }}{% endif %}'
                      block-id='{{ block.id }}'
                      {{ block.shopify_attributes }}
                    >
                      <div class='image-banner__container'>
                        {%- if block.settings.btn_text == blank and block.settings.extra_btn_text == blank -%}
                          {%- if block.settings.btn_url.url != blank or block.settings.extra_btn_url.url != blank -%}
                            <a
                              class='image-banner__link'
                              href='{% if block.settings.btn_url.url != blank %}{{ block.settings.btn_url.url }}{% else %}{{ block.settings.extra_btn_url.url }}{% endif %}'
                              aria-label='{% if block.settings.btn_text != blank %}{{ block.settings.btn_text }}{% elsif block.settings.extra_btn_text != blank %}{{ block.settings.extra_btn_text }}{% elsif block.settings.btn_url.title != blank %}{{ block.settings.btn_url.title }}{% elsif block.settings.extra_btn_url.title != blank %}{{ block.settings.extra_btn_url.title }}{% else %}#{% endif %}'
                            ></a>
                          {%- endif -%}
                        {%- endif -%}
                        {%- render 'media-with-art-direction',
                          with_overlay: true,
                          with_placeholder: true,
                          class: 'image-banner__media',
                          desktop_img: block.settings.desktop_img,
                          mobile_img: block.settings.mobile_img,
                          mobile_video: block.settings.video,
                          desktop_video: block.settings.video
                        -%}
                        {%- render 'image-banner-content',
                          heading_size: block.settings.heading_size,
                          sub_heading_size: block.settings.sub_heading_size,
                          body_size: block.settings.body_size,
                          title: block.settings.title,
                          caption: block.settings.caption,
                          text: block.settings.text,
                          btn_text: block.settings.btn_text,
                          btn_url: block.settings.btn_url,
                          extra_btn_text: block.settings.extra_btn_text,
                          extra_btn_url: block.settings.extra_btn_url,
                          btn_style: block.settings.btn_style,
                          extra_btn_style: block.settings.extra_btn_style,
                          mobile_content_background: block.settings.mobile_content_background,
                          desktop_content_background: block.settings.desktop_content_background
                        -%}
                      </div>
                    </div>
                {%- endcase -%}
              {%- endfor -%}
            </div>
          </div>
          {%- if enable_autoplay -%}
            <carousel-play-button>
              <button data-carousel-play-button class='slideshow__play-button' aria-label='Toggle autoplay button'>
                {% render 'icon',
                  icon_name: 'play',
                  class: 'slideshow__play-button-icon slideshow__play-button-icon--play'
                %}
                {% render 'icon',
                  icon_name: 'pause',
                  class: 'slideshow__play-button-icon slideshow__play-button-icon--pause'
                %}
              </button>
            </carousel-play-button>
          {%- endif -%}
          {%- if blocks.size > 1 and enable_circle_navigation -%}
            <carousel-dots
              class='dots-carousel slideshow__dots-carousel'
              data-contain-scroll='keepSnaps'
              data-align='center'
            >
              <div class='dots-carousel__viewport embla' data-carousel-viewport>
                <div class='dots-carousel__container' data-carousel-container>
                  {%- for block in blocks -%}
                    <carousel-dot
                      class='dots-carousel__slide {% if forloop.index == 1 %}is-primary{% endif %}'
                      tabindex='0'
                      data-dot-index='{{ forloop.index0 }}'
                    >
                      <div class='dots-carousel__slide-body'>
                        <div class='dots-carousel__slide-inner-circle'></div>
                        <div
                          class='dots-carousel__loader'
                          size='medium'
                          variant='dark'
                          data-autoplay-indicator
                          style='--gsc-autoplay-interval: {{ autoplay_interval }}s;'
                        >
                          {% render 'icon',
                            icon_name: 'circle',
                            background_class: 'dots-carousel__loader-background',
                            border_class: 'dots-carousel__loader-border',
                            circle_class: 'dots-carousel__loader-circle'
                          %}
                        </div>
                      </div>
                    </carousel-dot>
                  {%- endfor -%}
                </div>
              </div>
            </carousel-dots>
          {%- endif -%}
          {%- if blocks.size > 1 and enable_arrows_navigation -%}
            <div class='slideshow__btns {% if arrows_style == 'corner-buttons' %}slideshow__btns--corner{% else %}slideshow__btns--aside{% endif %}'>
              <carousel-btn
                class='carousel-btn slideshow__carousel-btn slideshow__carousel-btn--prev'
                data-scroll-direction='prev'
                tabindex='0'
              >
                {%- render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon x-flip' -%}
              </carousel-btn>
              <carousel-btn
                class='carousel-btn slideshow__carousel-btn slideshow__carousel-btn--next'
                data-scroll-direction='next'
                tabindex='0'
              >
                {%- render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon' -%}
              </carousel-btn>
            </div>
          {%- endif -%}
        </carousel-component>
      {%- else -%}
        {{
          'collection-4'
          | placeholder_svg_tag: 'placeholder-image placeholder-image--with-content section-stub slideshow__section-stub'
        }}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.slideshow.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.slideshow.navigation_settings_header"
    },
    {
      "type": "checkbox",
      "id": "enable_circle_navigation",
      "default": true,
      "label": "t:sections.slideshow.label_for_enable_circle_navigation_setting"
    },
    {
      "type": "checkbox",
      "id": "enable_arrows_navigation",
      "default": true,
      "label": "t:sections.slideshow.label_for_enable_arrows_navigation_setting"
    },
    {
      "type": "select",
      "id": "arrows_style",
      "label": "t:sections.slideshow.label_for_arrows_style_setting",
      "options": [
        {
          "value": "aside-buttons",
          "label": "t:sections.slideshow.label_for_aside_buttons_option_in_arrows_style_setting"
        },
        {
          "value": "corner-buttons",
          "label": "t:sections.slideshow.label_for_corner_buttons_option_in_arrows_style_setting"
        }
      ],
      "default": "corner-buttons"
    },
    {
      "type": "checkbox",
      "id": "show_arrows_on_hover",
      "default": false,
      "label": "t:sections.slideshow.label_for_show_arrows_on_hover_setting"
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.carousel_settings_header"
    },
    {
      "type": "select",
      "id": "transition_style",
      "label": "t:sections.slideshow.transition_style.label",
      "info": "t:sections.slideshow.transition_style.info",
      "options": [
        {
          "value": "fade",
          "label": "t:sections.slideshow.transition_style.option_1_label"
        },
        {
          "value": "swipe",
          "label": "t:sections.slideshow.transition_style.option_2_label"
        },
        {
          "value": "seamless",
          "label": "t:sections.slideshow.transition_style.option_3_label"
        }
      ],
      "default": "swipe"
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "default": false,
      "label": "t:sections.slideshow.label_for_enable_autoplay_setting"
    },
    {
      "type": "range",
      "id": "autoplay_interval",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 3,
      "unit": "t:sections.slideshow.unit_for_autoplay_interval_setting",
      "label": "t:sections.slideshow.label_for_autoplay_interval_setting"
    },
    {
      "type": "checkbox",
      "id": "show_button_for_autoplay",
      "default": true,
      "label": "t:sections.slideshow.show_button_for_autoplay.label",
      "info": "t:sections.slideshow.show_button_for_autoplay.info"
    }
  ],
  "blocks": [
    {
      "type": "image-banner",
      "name": "t:sections.slideshow.name_for_image_slide_block",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.image_banner.image_settings_header"
        },
        {
          "type": "image_picker",
          "id": "desktop_img",
          "label": "t:sections.general_section_settings.label_for_desktop_image_setting"
        },
        {
          "type": "image_picker",
          "id": "mobile_img",
          "label": "t:sections.general_section_settings.label_for_mobile_image_setting"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.general_section_settings.label_for_video_setting"
        },
        {
          "type": "range",
          "id": "desktop_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 20,
          "unit": "t:sections.image_banner.unit_for_desktop_overlay_opacity_setting",
          "label": "t:sections.image_banner.label_for_desktop_overlay_opacity_setting"
        },
        {
          "type": "range",
          "id": "mobile_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 20,
          "unit": "t:sections.image_banner.unit_for_mobile_overlay_opacity_setting",
          "label": "t:sections.image_banner.label_for_mobile_overlay_opacity_setting"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Desktop Text color"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Mobile Background color"
        },
        {
          "type": "color",
          "id": "text_color_mobile",
          "label": "Mobile Text color"
        },
        {
          "type": "header",
          "content": "t:sections.image_banner.content_settings_header"
        },
        {
          "type": "richtext",
          "id": "title",
          "default": "<p>Image with text</p>",
          "label": "t:sections.image_banner.label_for_title_setting"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Fill in the text to tell customers by what your products are inspired.</p>",
          "label": "t:sections.image_banner.label_for_text_setting"
        },
        {
          "type": "header",
          "content": "t:sections.image_banner.content_position_settings_header"
        },
        {
          "type": "select",
          "id": "desktop_content_position",
          "label": "t:sections.general_section_settings.desktop_position_label",
          "options": [
            {
              "value": "align-items:center;justify-content:flex-start;",
              "label": "t:sections.general_section_settings.position_option_center_left_label"
            },
            {
              "value": "align-items:center;justify-content:center;",
              "label": "t:sections.general_section_settings.position_option_center_center_label"
            },
            {
              "value": "align-items:center;justify-content:flex-end;",
              "label": "t:sections.general_section_settings.position_option_center_right_label"
            }
          ],
          "default": "align-items:center;justify-content:center;"
        },
        {
          "type": "select",
          "id": "desktop_content_align",
          "label": "t:sections.general_section_settings.dekstop_alignment_label",
          "options": [
            {
              "value": "left",
              "label": "t:sections.general_section_settings.alignment_option_left_label"
            },
            {
              "value": "center",
              "label": "t:sections.general_section_settings.alignment_option_center_label"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "mobile_content_align",
          "label": "t:sections.general_section_settings.mobile_alignment_label",
          "options": [
            {
              "value": "left",
              "label": "t:sections.general_section_settings.alignment_option_left_label"
            },
            {
              "value": "center",
              "label": "t:sections.general_section_settings.alignment_option_center_label"
            }
          ],
          "default": "center"
        },
        {
          "type": "header",
          "content": "t:sections.image_banner.background_settings_header"
        },
        {
          "type": "header",
          "content": "t:sections.image_banner.buttons_settings_header"
        },
        {
          "type": "text",
          "id": "btn_text",
          "default": "Button label",
          "label": "t:sections.image_banner.label_for_button_text_setting"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "t:sections.image_banner.label_for_button_url_setting",
          "info": "t:sections.image_banner.info_for_button_url_setting"
        },
        {
          "type": "select",
          "id": "btn_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.image_banner.label_for_solid_option_in_button_style_setting"
            },
            {
              "value": "outline",
              "label": "t:sections.image_banner.label_for_outline_option_in_button_style_setting"
            },
            {
              "value": "link",
              "label": "t:sections.image_banner.label_for_link_option_in_button_style_setting"
            }
          ],
          "default": "solid",
          "label": "t:sections.image_banner.label_for_button_style_setting"
        },
        {
          "type": "text",
          "id": "extra_btn_text",
          "default": "Button label",
          "label": "t:sections.image_banner.label_for_extra_button_text_setting"
        },
        {
          "type": "url",
          "id": "extra_btn_url",
          "label": "t:sections.image_banner.label_for_extra_button_url_setting"
        },
        {
          "type": "select",
          "id": "extra_btn_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.image_banner.label_for_solid_option_in_extra_button_style_setting"
            },
            {
              "value": "outline",
              "label": "t:sections.image_banner.label_for_outline_option_in_extra_button_style_setting"
            },
            {
              "value": "link",
              "label": "t:sections.image_banner.label_for_link_option_in_extra_button_style_setting"
            }
          ],
          "default": "solid",
          "label": "t:sections.image_banner.label_for_extra_button_style_setting"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.name",
      "blocks": [
        {
          "type": "image-banner"
        }
      ]
    }
  ]
}
{% endschema %}
