<!doctype html>
<html class='no-js' lang='{{ request.locale.iso_code }}'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='theme-color' content='{{ settings.default_color_scheme }}'>
    {%- if page_description -%}
      <meta name='description' content='{{ page_description | escape }}'>
    {%- endif -%}
    {%- if settings.favicon != blank -%}
      <link rel='icon' type='image/png' href='{{ settings.favicon | image_url: width: 32, height: 32 }}'>
    {%- endif -%}
    {% render 'meta-tags' %}
    <link rel='canonical' href='{{ canonical_url }}'>
    <link rel='preconnect' href='https://cdn.shopify.com' crossorigin>
    <link rel='preconnect' href='https://fonts.shopifycdn.com' crossorigin>

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"
      {%- endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name -}}
      {%- endunless -%}
    </title>

    {% render 'css-variables' %}
    {{ 'index.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'search.js' | asset_url | preload_tag: as: 'script' }}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    {{ 'index.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'custom.css' | asset_url | stylesheet_tag: preload: true }}

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">    

    {% render 'fonts' %}
    {{ content_for_header }}
    {% render 'style-bundle', layout: 'theme' %}
  </head>
  <body class='color-{{ settings.default_color_scheme }} theme-with-{{ settings.edge_rounding_degree }}-rounded-style {% if settings.edge_rounding_degree != 'none' %} theme-with-rounded-style{% endif %}'>
    {% if template.name == 'password' %}
      {% sections 'password-header-group' %}
    {% else %}
      {% sections 'main-header-group' %}
      {% sections 'main-aside-group' %}
    {% endif %}

    <main>
      {{ content_for_layout }}
    </main>

    {%- if template.name == 'password' -%}
      {% sections 'password-footer-group' %}
    {%- else -%}
      {% sections 'main-footer-group' %}
    {%- endif -%}

    {%- if settings.show_back_to_top_button -%}
      {% render 'back-to-top-button' %}
    {%- endif -%}

    <div class='body-overlay' id='BodyOverlay'></div>

    {%- render 'dialog-components' -%}

    {%- render 'inject-routes' -%}

    <div id='Portal'></div>

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js')

      if (Shopify.designMode) {
        document.documentElement.className = `${document.documentElement.className} is-editor-mode`
      }

      window.lazySizesConfig = {
        loadMode: 1,
      }

      window.auroraTheme = {
        version: '1.4.0',
        id: window.Shopify.theme.id,
        storeId: window.Shopify.theme.theme_store_id,
        isLicenseTheme: !!window.Shopify.theme.theme_store_id,
      }
    </script>

    <script src='{{ 'index.js' | asset_url }}' defer='defer'></script>
    <script src='{{ 'search.js' | asset_url }}' defer='defer'></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer='defer'></script>
    <script>
      AOS.init({
        duration: 1000        
      })
    </script>
    {% render 'script-bundle', layout: 'theme' %}
  </body>
</html>
